<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Хакатоним-ФинТех" data-toc-modified-id="Хакатоним-ФинТех-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Хакатоним ФинТех</a></span><ul class="toc-item"><li><span><a href="#Содержание" data-toc-modified-id="Содержание-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Содержание</a></span></li><li><span><a href="#Загрузка-библиотек--" data-toc-modified-id="Загрузка-библиотек---1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Загрузка библиотек  <a class="anchor" id="ch1"></a></a></span></li><li><span><a href="#Сбор-и-анализ-данных--" data-toc-modified-id="Сбор-и-анализ-данных---1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Сбор и анализ данных  <a class="anchor" id="ch2"></a></a></span><ul class="toc-item"><li><span><a href="#Загрузка-данных--" data-toc-modified-id="Загрузка-данных---1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Загрузка данных  <a class="anchor" id="ch21"></a></a></span></li><li><span><a href="#Анализ-тренировочной-выборки--" data-toc-modified-id="Анализ-тренировочной-выборки---1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Анализ тренировочной выборки  <a class="anchor" id="ch22"></a></a></span></li><li><span><a href="#df_train-" data-toc-modified-id="df_train--1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>df_train <a class="anchor" id="ch221"></a></a></span></li><li><span><a href="#df_socdem-" data-toc-modified-id="df_socdem--1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>df_socdem <a class="anchor" id="ch222"></a></a></span></li><li><span><a href="#df_balance-" data-toc-modified-id="df_balance--1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>df_balance <a class="anchor" id="ch223"></a></a></span></li><li><span><a href="#df_stories_texts-" data-toc-modified-id="df_stories_texts--1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>df_stories_texts <a class="anchor" id="ch224"></a></a></span></li><li><span><a href="#df_stories_logs-" data-toc-modified-id="df_stories_logs--1.3.7"><span class="toc-item-num">1.3.7&nbsp;&nbsp;</span>df_stories_logs <a class="anchor" id="ch225"></a></a></span></li><li><span><a href="#df_products-" data-toc-modified-id="df_products--1.3.8"><span class="toc-item-num">1.3.8&nbsp;&nbsp;</span>df_products <a class="anchor" id="ch226"></a></a></span></li></ul></li><li><span><a href="#Визуализация-данных--" data-toc-modified-id="Визуализация-данных---1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Визуализация данных  <a class="anchor" id="ch4"></a></a></span></li><li><span><a href="#Feature-Engineering--" data-toc-modified-id="Feature-Engineering---1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Feature Engineering  <a class="anchor" id="ch9"></a></a></span><ul class="toc-item"><li><span><a href="#Признак-№1-" data-toc-modified-id="Признак-№1--1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Признак №1 <a class="anchor" id="ch91"></a></a></span></li><li><span><a href="#Признак-№2-" data-toc-modified-id="Признак-№2--1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Признак №2 <a class="anchor" id="ch92"></a></a></span></li><li><span><a href="#Признак-№3-" data-toc-modified-id="Признак-№3--1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Признак №3 <a class="anchor" id="ch93"></a></a></span></li><li><span><a href="#Признак-№4-" data-toc-modified-id="Признак-№4--1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Признак №4 <a class="anchor" id="ch94"></a></a></span></li><li><span><a href="#Признак-№5-" data-toc-modified-id="Признак-№5--1.5.5"><span class="toc-item-num">1.5.5&nbsp;&nbsp;</span>Признак №5 <a class="anchor" id="ch95"></a></a></span></li><li><span><a href="#Признак-№6-" data-toc-modified-id="Признак-№6--1.5.6"><span class="toc-item-num">1.5.6&nbsp;&nbsp;</span>Признак №6 <a class="anchor" id="ch96"></a></a></span></li><li><span><a href="#Признак-№7-" data-toc-modified-id="Признак-№7--1.5.7"><span class="toc-item-num">1.5.7&nbsp;&nbsp;</span>Признак №7 <a class="anchor" id="ch97"></a></a></span></li><li><span><a href="#Признак-№8-" data-toc-modified-id="Признак-№8--1.5.8"><span class="toc-item-num">1.5.8&nbsp;&nbsp;</span>Признак №8 <a class="anchor" id="ch98"></a></a></span></li><li><span><a href="#Признак-№9-(ARIMA)-" data-toc-modified-id="Признак-№9-(ARIMA)--1.5.9"><span class="toc-item-num">1.5.9&nbsp;&nbsp;</span>Признак №9 (ARIMA) <a class="anchor" id="ch99"></a></a></span></li></ul></li><li><span><a href="#Создание-единой-таблицы--" data-toc-modified-id="Создание-единой-таблицы---1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Создание единой таблицы  <a class="anchor" id="ch10"></a></a></span></li><li><span><a href="#Выбор-бизнес-метрик--" data-toc-modified-id="Выбор-бизнес-метрик---1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Выбор бизнес-метрик  <a class="anchor" id="ch11"></a></a></span><ul class="toc-item"><li><span><a href="#Бизнес-метрика-№1-" data-toc-modified-id="Бизнес-метрика-№1--1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Бизнес-метрика №1 <a class="anchor" id="ch11_1"></a></a></span><ul class="toc-item"><li><span><a href="#Подсчёт-бизнес-метрики" data-toc-modified-id="Подсчёт-бизнес-метрики-1.7.1.1"><span class="toc-item-num">1.7.1.1&nbsp;&nbsp;</span>Подсчёт бизнес-метрики</a></span></li></ul></li><li><span><a href="#Бизнес-метрика-№2-" data-toc-modified-id="Бизнес-метрика-№2--1.7.2"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>Бизнес-метрика №2 <a class="anchor" id="ch11_2"></a></a></span><ul class="toc-item"><li><span><a href="#Подсчёт-бизнес-метрики" data-toc-modified-id="Подсчёт-бизнес-метрики-1.7.2.1"><span class="toc-item-num">1.7.2.1&nbsp;&nbsp;</span>Подсчёт бизнес-метрики</a></span></li></ul></li><li><span><a href="#Бизнес-метрика-№3-" data-toc-modified-id="Бизнес-метрика-№3--1.7.3"><span class="toc-item-num">1.7.3&nbsp;&nbsp;</span>Бизнес-метрика №3 <a class="anchor" id="ch11_3"></a></a></span><ul class="toc-item"><li><span><a href="#Подсчёт-бизнес-метрики" data-toc-modified-id="Подсчёт-бизнес-метрики-1.7.3.1"><span class="toc-item-num">1.7.3.1&nbsp;&nbsp;</span>Подсчёт бизнес-метрики</a></span></li></ul></li><li><span><a href="#Дополнительная-бизнес-метрика-" data-toc-modified-id="Дополнительная-бизнес-метрика--1.7.4"><span class="toc-item-num">1.7.4&nbsp;&nbsp;</span>Дополнительная бизнес-метрика <a class="anchor" id="ch11_4"></a></a></span></li></ul></li></ul></li></ul></div>

# Хакатоним ФинТех

## Содержание

- [Загрузка библиотек](#ch1)
- [Сбор и анализ данных](#ch2)
    - [Загрузка данных](#ch21)
    - [Анализ тренировочной выборки](#ch22)
      - [df_train](#ch221)
          - [Первичный анализ](#ch2211)
          - [Приведение категориальных признаков к числовому виду](#ch2212)
          - [Заполнение пропусков](#ch2213)
      - [df_socdem](#ch222)
          - [Первичный анализ](#ch2221)
          - [Приведение категориальных признаков к числовому виду](#ch2222)
          - [Заполнение пропусков](#ch2223)
      - [df_balance](#ch223)
          - [Первичный анализ](#ch2231)
          - [Заполнение пропусков](#ch2233)
      - [df_stories_texts](#ch224)
          - [Первичный анализ](#ch2241)
          - [Заполнение пропусков](#ch2243)
      - [df_stories_logs](#ch225)
          - [Первичный анализ](#ch2251)
          - [Приведение категориальных признаков к числовому виду](#ch2252)
          - [Заполнение пропусков](#ch2253)
      - [df_products](#ch226)
          - [Первичный анализ](#ch2261)
          - [Заполнение пропусков](#ch2263)
- [Feature Engineering](#ch9)
    - [Признак №1](#ch91)
    - [Признак №2](#ch92)
    - [Признак №3](#ch93)
    - [Признак №4](#ch94)
    - [Признак №5](#ch95)
    - [Признак №6](#ch96)
    - [Признак №7](#ch97)
    - [Признак №8](#ch98)
    - [Признак №9 (ARIMA)](#ch99)
- [Создание единой таблицы](#ch3)
- [Визуализация данных КАМРОН](#ch4)
- [Стандартизация признаков](#ch7)
- [Кластеризация АЛИНА](#ch10)
- [Выбор бизнес-метрик](#ch11)
    - [Бизнес-метрика №1](#ch11_1)
    - [Бизнес-метрика №2](#ch11_2)
    - [Бизнес-метрика №3](#ch11_3)
    - [Дополнительная бизнес-метрика](#ch11_4)
- [Метрики задач машинного обучения, соответствующие цели задачи](#ch12)
- [Предсказательная модель](#ch13)
    - [Multi-output regressor](#ch131)
- [Тестирование модели на тестовых данных](#ch15)
- [Возможные улучшения](#ch15)
- [Вывод](#ch16)

## Загрузка библиотек  <a class="anchor" id="ch1"></a>

In [2]:
!pip install matplotlib
# !pip install seaborn
# !pip install plotly
# !pip install sklearn
# !pip install graphviz  
# !pip install pdpbox
# !pip install catboost
# !pip install scipy
# !pip install statsmodels
# !pip install pingouin

Requirement already satisfied: matplotlib in c:\users\k111f\anaconda3\lib\site-packages (3.4.3)
Requirement already satisfied: numpy>=1.16 in c:\users\k111f\anaconda3\lib\site-packages (from matplotlib) (1.21.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\k111f\anaconda3\lib\site-packages (from matplotlib) (7.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\k111f\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\k111f\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\k111f\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\k111f\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\k111f\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

In [3]:
# загрузка библиотек
from IPython import display
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import pingouin as pg
import datetime
from sklearn import preprocessing
import statistics
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
#sns.set_theme(style="whitegrid")
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action="ignore", category=FutureWarning)

from tqdm import tqdm
from statsmodels.tsa.arima.model import ARIMA
import warnings
warnings.filterwarnings("ignore")

In [4]:
def removing_outliers(column,frame, count = 0,total_outliers = 0, alpha = 1.5,max_iter = 5):
        """
        Метод удаления выбросов с помощью межквартильного размаха

        Параметры:
        - column: Имя столбца, где нужно найти выбросы
        - frame: Фрейм, где находится столбец для анализа
        - count: Количество рекурсивных циклов проверки 
        - total_outliers: Общая сумма выбросов, найденных за все циклы проверки
        - alpha: Коэфициент при вычислении интервала
        - max_iter: максимальное количество циклов функции

        Возвращет:
        - frame: Обработанный фрейм
        - leng: Количесвто выбросов на цикле
        - total_outliers: Общее количество выбросов
        """
        # Получим квантиль 25%
        q25=np.array(frame[column].describe(percentiles=[.25,.75]).loc['25%'])
        # Получим квантиль 75%
        q75=np.array(frame[column].describe(percentiles=[.25,.75]).loc['75%'])
        # Получим первую границу
        first_part=q25-alpha*(q75-q25)
        # Получим 2 границу
        second_part=q75+alpha*(q75-q25)
        # Получим все значения, удовлетворяющие промежутку
        prep_frame = frame[(frame[column] > first_part) & (frame[column] < second_part)]
        # Подсчет количества удаленных выбросов
        leng = frame.shape[0] - prep_frame.shape[0]
        # Увеление счетчика циклов
        count += 1
        # Заменим исходную таблицу обработанной
        frame = prep_frame.copy()
        # Удалим ненужную таблицу
        del prep_frame
        # Проверим условия выхода
        if leng > 0 and count < max_iter:
            frame,leng,total_outliers = removing_outliers(column,frame, count,total_outliers+leng)
        else:
            print('Количество строк, выбранных для удаления {}: {}. Количество итераций {}'.format(column,total_outliers,count),end = "\n\n")
        return frame,leng,total_outliers

## Сбор и анализ данных  <a class="anchor" id="ch2"></a>

### Загрузка данных  <a class="anchor" id="ch21"></a>

In [17]:
!wget  -O 'avk_hackathon_data_story_texts.csv' -q 'https://www.dropbox.com/s/ki8zzf51uxtn39h/avk_hackathon_data_story_texts.csv?dl=0'
!wget  -O 'avk_hackathon_data_party_x_socdem.csv' -q 'https://www.dropbox.com/s/cjlo1edjbnxvp88/avk_hackathon_data_party_x_socdem.csv?dl=0'
!wget  -O 'avk_hackathon_data_party_products.csv' -q 'https://www.dropbox.com/s/vb8fe4yhshd401y/avk_hackathon_data_party_products.csv?dl=0'
!wget  -O 'avk_hackathon_data_account_x_balance.csv' -q 'https://www.dropbox.com/s/i94cotxyti8y7ir/avk_hackathon_data_account_x_balance.csv?dl=0'
!wget  -O 'avk_hackathon_data_train_transactions.csv' -q 'https://www.dropbox.com/s/ui8x3dtpjht3560/avk_hackathon_data_train_transactions.csv?dl=0'
!wget  -O 'avk_hackathon_data_story_logs.csv' -q 'https://www.dropbox.com/s/8oexjpfpn8nqrnn/avk_hackathon_data_story_logs.csv?dl=0'
!wget  -O 'avk_hackathon_data_test_transactions.csv' -q 'https://www.dropbox.com/s/97ik1n6y3osrxug/avk_hackathon_data_test_transactions.csv?dl=0'

zsh:1: command not found: wget
zsh:1: command not found: wget
zsh:1: command not found: wget
zsh:1: command not found: wget
zsh:1: command not found: wget
zsh:1: command not found: wget
zsh:1: command not found: wget

In [186]:
df_test = pd.read_csv('avk_hackathon_data_test_transactions.csv', encoding='utf-8')
df_story_texts= pd.read_csv('avk_hackathon_data_story_texts.csv')
df_socdem = pd.read_csv('avk_hackathon_data_party_x_socdem.csv')
df_products = pd.read_csv('avk_hackathon_data_party_products.csv')
df_balance = pd.read_csv('avk_hackathon_data_account_x_balance.csv')
df_train = pd.read_csv('avk_hackathon_data_train_transactions.csv')
df_stories_logs = pd.read_csv('avk_hackathon_data_story_logs.csv')

In [5]:
df_balance = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_account_x_balance.csv')
df_products = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_party_products.csv')
df_socdem = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_party_x_socdem.csv')
df_stories_logs = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_story_logs.csv')
df_story_texts = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_story_texts.csv')
df_test = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_test_transactions.csv')
df_train = pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\avk_hackathon_data_train_transactions.csv')

### Анализ тренировочной выборки  <a class="anchor" id="ch22"></a>

### df_train <a class="anchor" id="ch221"></a>

В данной таблице содержится информация о совершенных пользователями транзакциях, где
<ul>
<li><strong>party_rk</strong> - уникальный идентификационный номер клиента</li> 
<li><strong>account_rk</strong> - уникальный идентификационный номер счета</li>
<li><strong>financial_account_type_cd</strong> - тип карты (дебетовая/кредитовая)</li>
<li><strong>transaction_dttm</strong> - день совершения операции в формате ГГГГ-ММ-ДД</li>
<li><strong>transaction_amt_rur</strong> - сумма транзакции в рублях</li>
<li><strong>merchant_rk	</strong> - идентификационный номер мерчант-аккаунта (оборудования для приема платежей)</li>  
<li><strong>merchant_type</strong> - идентификационный номер типа мерчанта</li> 
<li><strong>merchant_group_rk</strong> - идентификационный номер мерчант-группы, обслуживающей соответствующий мерчант-аккаунт</li>
<li><strong>category	</strong> - категория транзакции</li>  
</ul>

In [6]:
df_train.head()

,party_rk,account_rk,financial_account_type_cd,transaction_dttm,transaction_type_desc,transaction_amt_rur,merchant_rk,merchant_type,merchant_group_rk,category
0,20337,19666,1,2019-01-01,Покупка,84.00,88676.0,348.0,NaN,Сувениры
1,63404,72991,1,2019-01-01,Покупка,410.00,887248.0,330.0,725.0,Фаст Фуд
2,24789,23517,2,2019-01-01,Покупка,701.44,830014.0,291.0,NaN,Супермаркеты
3,57970,64838,2,2019-01-01,Покупка,6203.70,363834.0,278.0,454.0,Дом/Ремонт
4,12232,11591,2,2019-01-01,Покупка,734.53,85919.0,286.0,878.0,Супермаркеты

Удалим колонки, связанные со счетом. При входе в приложение "Тинькофф" в раздел, где можно выбрать категории для кэшбэка, пользователю предлагается выбрать 3 категории. Его выбор не зависит от его счета (account_rk), а зависит от того, с какого аккаунта он зашел (party_rk). Мы имеем право удалить колонки, связанные со счетом.

In [7]:
df_train = df_train.drop(['account_rk','merchant_rk','merchant_group_rk', 'merchant_type', 'transaction_type_desc'], axis = 1)

Переобозначим наименования категорий в числа

In [112]:
train_newnames = {cat_name: i for i,cat_name in enumerate(df_train['category'].unique())}  
df_train['category'].replace(train_newnames, inplace=True)   
# df_train_out['category'].replace(train_newnames, inplace=True)

##### Первичный анализ <a class="anchor" id="ch2211"></a>

In [113]:
print('Количество строк: {}, количество столбцов: {}'.format(df_train.shape[0], df_train.shape[1]))

Количество строк: 11987617, количество столбцов: 5

Посмотрим на типы переменных, чтобы корректно выполнять операции с ними.

In [114]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11987617 entries, 0 to 11987616
Data columns (total 5 columns):
 #   Column                     Dtype
---  ------                     -----
 0   party_rk                   int64
 1   financial_account_type_cd  int64
 2   transaction_dttm           datetime64[ns]
 3   transaction_amt_rur        float64
 4   category                   int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 457.3 MB

Переведем столбец с датами транзакций в тип datetime.

In [115]:
df_train['transaction_dttm'] = pd.to_datetime(df_train['transaction_dttm'])

Проверим, какие значения может принимать категориальный признак 'category'.

In [116]:
df_train['category'].value_counts().reset_index()

    index  category
0       2   3938925
1       6   1881017
2       1   1007549
3       8    839906
4      15    787258
5       7    531127
6      16    401255
7      10    398397
8      24    311316
9      12    271948
10      3    268370
11     11    255282
12      5    110076
13      4    100588
14     17    100322
15     13     96478
16     21     88739
17      9     56868
18     18     56458
19     22     54557
20     29     50377
21     20     43165
22     30     39967
23     19     37376
24     28     35619
25     31     34606
26     26     30980
27     27     30293
28     25     29304
29     23     29273
30     14     24436
31      0     16465
32     34      9008
33     33      6582
34     32      6107
35     36      5751
36     35      1872

Все значения категорий различные, нет недочетов в плане написания/лишних пробелов и тд.

Для более детального понимания данных, посмотрим на их основные характеристики.

In [117]:
df_train.describe().round(3)

,party_rk,financial_account_type_cd,transaction_amt_rur,category
count,1.198762e+07,11987617.00,1.198761e+07,1.198762e+07
mean,4.300785e+04,1.67,3.186888e+03,7.202000e+00
std,2.540438e+04,0.47,2.447061e+04,6.696000e+00
min,1.000000e+00,1.00,1.000000e+01,0.000000e+00
25%,2.117500e+04,1.00,1.599000e+02,2.000000e+00
50%,4.216800e+04,2.00,3.910000e+02,6.000000e+00
75%,6.319900e+04,2.00,1.225000e+03,1.000000e+01
max,9.461000e+04,2.00,2.000010e+07,3.600000e+01

In [118]:
a = min(df_train['transaction_amt_rur'])
b = max(df_train['transaction_amt_rur'])
c = df_train['transaction_amt_rur'].mean()
print('Минимальное значение: {}, максимальное значение: {}, среднее значение: {}'.format(a, b, c))

Минимальное значение: 10.0, максимальное значение: 20000100.0, среднее значение: 3186.888401838067

Минимальное и максимальное значение транзакций сильно отличаются от среднего. Можно, предположить, что в столбце 'transaction_amt_rur' присутствуют выбросы.

##### Удаление выбросов <a class="anchor" id="ch2213"></a>

Есть несколько способов удаления выбросов: через z-score, через квантили и KMean. Но самый простой для понимания способ - через квантили (IQR), поэтому будем использовать его.

In [119]:
sns.boxplot(x=df_train['transaction_amt_rur']);

NameError: name 'sns' is not defined

In [120]:
df_train_out,_,_ = removing_outliers('transaction_amt_rur',df_train)

Количество строк, выбранных для удаления transaction_amt_rur: 3250777. Количество итераций 5

In [ ]:
# Q1 = df_train['transaction_amt_rur'].quantile(0.25)
# Q3 = df_train['transaction_amt_rur'].quantile(0.75)
# IQR = Q3 - Q1
# df_train_out = df_train[~((df_train['transaction_amt_rur'] < (Q1 - 1.5 * IQR)) | (df_train['transaction_amt_rur'] > (Q3 + 1.5 * IQR)))]

In [ ]:
# Q1_out = df_train_out['transaction_amt_rur'].quantile(0.25)
# Q3_out = df_train_out['transaction_amt_rur'].quantile(0.75)
# IQRout = Q3_out - Q1_out
# df_train_out[((df_train_out['transaction_amt_rur'] < (Q1_out - 1.5 * IQRout)) | (df_train_out['transaction_amt_rur'] > (Q3_out + 1.5 * IQRout)))]

In [121]:
print('Количество строк до удаления выбросов: {}, количество столбцов: {}'.format(df_train.shape[0], df_train.shape[1]))
print('Количество строк после удаления выбросов: {}, количество столбцов: {}'.format(df_train_out.shape[0], df_train_out.shape[1]))

Количество строк до удаления выбросов: 11987617, количество столбцов: 5
Количество строк после удаления выбросов: 8434344, количество столбцов: 5

In [122]:
sns.boxplot(x=df_train_out['transaction_amt_rur']);

NameError: name 'sns' is not defined

##### Заполнение пропусков <a class="anchor" id="ch2213"></a>

In [123]:
print("\nКоличество пропущенных значений до заполнения пропусков:")
df_train_out.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений до заполнения пропусков:

,party_rk,financial_account_type_cd,transaction_dttm,transaction_amt_rur,category
0,0,0,0,0,0

Для заполнения пропусков числовых переменных используются несколько методов, но мы будем использовать самый простой: в случае числового признака заменяем на среднее значение по столбцу (тк мы ранее удалили выбросы, то это среднее будет не смещенное), если это категориальный признак, то заменяем на моду.

In [124]:
df_train_out['transaction_amt_rur'] = df_train_out['transaction_amt_rur'].fillna(df_train_out['transaction_amt_rur'].mean())

In [125]:
df_train_out['category'] = df_train_out['category'].fillna(df_train_out['category'].mode()[0])

In [126]:
print("\nКоличество пропущенных значений после заполнения пропусков:")
df_train_out.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений после заполнения пропусков:

,party_rk,financial_account_type_cd,transaction_dttm,transaction_amt_rur,category
0,0,0,0,0,0

##### Приведение категориальных признаков к числовому виду <a class="anchor" id="ch2212"></a>

Модели, которые мы будем в дальнейшем применять, работают только с числовыми признаками, поэтому приведем категориальные признаки к числовым. В основном различают 2 способа: One-hot Encoding и LabelEncoder. Второй применятся в том случае, когда мы можем выявить в данных определенный порядок, в нашем случае в столбце category ранжировать мы не можем, поэтому будем использовать One-hot Encoding.

In [127]:
# функция для перевода категориального признака в числовой через One-hot Encoding
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    return(res)

In [128]:
df_train_out_num = encode_and_bind(df_train_out, 'category')

In [129]:
del df_train_out_num['category']

In [130]:
df_train_out_num

,party_rk,financial_account_type_cd,transaction_dttm,transaction_amt_rur
0,20337,1,2019-01-01,84.00
1,63404,1,2019-01-01,410.00
2,24789,2,2019-01-01,701.44
4,12232,2,2019-01-01,734.53
5,51074,2,2019-01-01,366.60
...,...,...,...,...
11987612,44990,1,2019-12-31,121.00
11987613,53023,2,2019-12-31,102.29
11987614,78716,1,2019-12-31,175.00
11987615,73104,2,2019-12-31,185.99
11987616,42916,1,2019-12-31,431.00

### df_socdem <a class="anchor" id="ch222"></a>

В данной таблице содержится персональная информация клиентов, где
<ul>
<li><strong>party_rk</strong> - уникальный идентификационный номер клиента</li> 
<li><strong>gender_cd</strong> - пол клиента (F - женщина / M - мужчина / не указан)</li>
<li><strong>age</strong> - возраст клиента</li>
<li><strong>marital_status_desc</strong> - семейное положение (один из 7 вариантов: Женат/замужем / Вдовец, вдова / Холост/не замужем / Гражданский брак / Разведен (а) / Не проживает с супругом (ой) / Не указано)</li>
<li><strong>children_cnt</strong> - количество детей</li>
<li><strong>region_flg</strong> - бинарная характеристика региона клиента</li>
</ul>
<strong>Первичным ключом</strong> таблицы является атрибут party_rk.

In [131]:
df_socdem.head()

   party_rk gender_cd marital_status_desc  children_cnt  region_flg  AgeGroup
0     61243         F             unknown             0           0         5
1     66535         F             unknown             0           0         1
2     83721         M       Женат/замужем             0           0         4
3     88238         F             unknown             0           0         2
4     57179         F       Женат/замужем             0           0         2

##### Первичный анализ <a class="anchor" id="ch2221"></a>

In [132]:
print('Количество строк: {}, количество столбцов: {}'.format(df_socdem.shape[0], df_socdem.shape[1]))

Количество строк: 50000, количество столбцов: 6

Проверим на всякий случай, что у нас party_rk это первичный ключ.

In [133]:
print('Количество уникальных значений party_rk: {}'.format(len(df_socdem['party_rk'].unique())))

Количество уникальных значений party_rk: 50000

In [134]:
df_socdem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   party_rk             50000 non-null  int64
 1   gender_cd            50000 non-null  object
 2   marital_status_desc  50000 non-null  object
 3   children_cnt         50000 non-null  int64
 4   region_flg           50000 non-null  int64
 5   AgeGroup             50000 non-null  int32
dtypes: int32(1), int64(3), object(2)
memory usage: 2.1+ MB

In [135]:
df_socdem.describe()

          party_rk  children_cnt    region_flg     AgeGroup
count  50000.00000  50000.000000  50000.000000  50000.00000
mean   47339.73202      0.388660      0.091900      2.33002
std    27317.74524      0.968928      0.288888      1.05787
min        1.00000      0.000000      0.000000      0.00000
25%    23669.75000      0.000000      0.000000      2.00000
50%    47434.50000      0.000000      0.000000      2.00000
75%    70961.50000      0.000000      0.000000      3.00000
max    94610.00000      4.000000      1.000000      5.00000

Заметим, что максимальное значение возраста может достигать значения 100, так что, вероятно, это может быть выбросом. Проверим это в разделе "Удаление выбросов".

In [136]:
fig, (ax1, ax2) = plt.subplots(1,2, figsize=(9,4))

female = df_socdem[df_socdem['gender_cd'] == 'F']
male = df_socdem[df_socdem['gender_cd'] == 'M']

sns.distplot(female['age'], bins=12 ,ax=ax1)
sns.distplot(male['age'], bins=12, ax=ax2)

ax1.set_title('Age distr among females');
ax2.set_title('Age distr among males');

NameError: name 'plt' is not defined

По графику можно сделать вывод, что возраст мужчин в среднем больше, чем возраст женщин.

Добавим категориальный признак AgeGroup, позволяющий разделить всех клиентов на 6 групп в соответствии с их возрастом:

In [137]:
df_socdem.loc[(df_socdem.age < 21),  'AgeGroup'] = '0-21'
df_socdem.loc[(21 <= df_socdem.age),  'AgeGroup'] = '21-29'
df_socdem.loc[(30 <= df_socdem.age),  'AgeGroup'] = '30-40'
df_socdem.loc[(41 <= df_socdem.age),  'AgeGroup'] = '41-54'
df_socdem.loc[(54 <= df_socdem.age),  'AgeGroup'] = '55-65'
df_socdem.loc[(65 <= df_socdem.age),  'AgeGroup'] = '65+'

AttributeError: 'DataFrame' object has no attribute 'age'

In [138]:
df_socdem

,party_rk,gender_cd,marital_status_desc,children_cnt,region_flg,AgeGroup
0,61243,F,unknown,0,0,5
1,66535,F,unknown,0,0,1
2,83721,M,Женат/замужем,0,0,4
3,88238,F,unknown,0,0,2
4,57179,F,Женат/замужем,0,0,2
...,...,...,...,...,...,...
49995,54994,M,Женат/замужем,0,0,2
49996,63391,M,Холост/не замужем,0,0,2
49997,5418,F,Холост/не замужем,0,0,4
49998,50273,F,Женат/замужем,0,0,2
49999,77268,F,unknown,0,0,2

In [139]:
# удалим ненужный столбец
del df_socdem['age']

KeyError: 'age'

##### Заполнение пропусков <a class="anchor" id="ch2223"></a>

In [140]:
print("\nКоличество пропущенных значений до заполнения пропусков:")
df_socdem.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений до заполнения пропусков:

,party_rk,gender_cd,marital_status_desc,children_cnt,region_flg,AgeGroup
0,0,0,0,0,0,0

Вместо пропущенных значений в колонках 'marital_status_desc' и 'gender_cd' запишем значение unknown, что будет означать, что пользователь не указала своего статуса или пола.

In [141]:
df_socdem['gender_cd'] = df_socdem['gender_cd'].fillna('unknown')
df_socdem['marital_status_desc'] = df_socdem['marital_status_desc'].fillna('unknown')

In [142]:
print("\nКоличество пропущенных значений после заполнения пропусков:")
df_socdem.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений после заполнения пропусков:

,party_rk,gender_cd,marital_status_desc,children_cnt,region_flg,AgeGroup
0,0,0,0,0,0,0

##### Приведение категориальных признаков к числовому виду <a class="anchor" id="ch2222"></a>

Заменим признак AgeGroup на числовые значения с помощью LabelEncoder, так как внутри этого признака сожно выявить порядок.

In [143]:
# AgeGroup - категориальный признак, переведем его в тип int
le_age = preprocessing.LabelEncoder()
le_age.fit(df_socdem['AgeGroup'])
df_socdem['AgeGroup'] = le_age.transform(df_socdem['AgeGroup'])

Остальные колонки 'gender_cd' и 'material_status_desc' заменим при помощи One-hot Encoding.

In [144]:
df_socdem_num = encode_and_bind(df_socdem, 'gender_cd')
df_socdem_num_ = encode_and_bind(df_socdem_num, 'marital_status_desc')

In [145]:
del df_socdem_num_['marital_status_desc']
del df_socdem_num_['gender_cd']

In [146]:
df_socdem_num_.head()

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,marital_status_desc_Женат/замужем,marital_status_desc_Не проживает с супругом (ой),marital_status_desc_Разведен (а),marital_status_desc_Холост/не замужем
0,61243,0,0,5,1,0,0,1,0,0,0,0,0,0
1,66535,0,0,1,1,0,0,1,0,0,0,0,0,0
2,83721,0,0,4,0,1,0,0,0,0,1,0,0,0
3,88238,0,0,2,1,0,0,1,0,0,0,0,0,0
4,57179,0,0,2,1,0,0,0,0,0,1,0,0,0

### df_balance <a class="anchor" id="ch223"></a>

В данной таблице содержится ежемесячная информация о изменениях баланса клиентов, где
<ul>
<li><strong>party_rk</strong> - уникальный идентификационный номер клиента</li> 
<li><strong>account_rk</strong> - уникальный идентификационный номер счета</li>
<li><strong>prev_month</strong> - дата последнего дня (t-1)-го месяца в формате ГГГГ-ММ-ДД</li>
<li><strong>cur_month</strong> - дата последнего дня t-го месяца в формате ГГГГ-ММ-ДД</li>
<li><strong>balance_chng</strong> - изменение баланса в течение периода времени [prev_month, cur_month]</li>
</ul>
<strong>Первичный ключ</strong> таблицы является составным из двух атрибутов: account_rk + prev_month.

In [147]:
df_balance.head()

   party_rk  account_rk prev_month  cur_month  balance_chng
0     51607       55309 2018-12-31 2019-01-31       15000.0
1     59074       70471 2018-12-31 2019-01-31           0.0
2     33941       33065 2018-12-31 2019-01-31      -15000.0
3      9336        8611 2018-12-31 2019-01-31      -50000.0
4     13958        8421 2018-12-31 2019-01-31      -20000.0

##### Первичный анализ <a class="anchor" id="ch2231"></a>

In [148]:
print('Количество строк: {}, количество столбцов: {}'.format(df_balance.shape[0], df_balance.shape[1]))

Количество строк: 612832, количество столбцов: 5

In [149]:
df_balance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612832 entries, 0 to 614422
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   party_rk      612832 non-null  int64
 1   account_rk    612832 non-null  int64
 2   prev_month    612832 non-null  datetime64[ns]
 3   cur_month     612832 non-null  datetime64[ns]
 4   balance_chng  612832 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 28.1 MB

Переведем признаки 'prev_month' и 'cur_month' в тип datetime.

In [150]:
df_balance['prev_month'] = pd.to_datetime(df_balance['prev_month'])
df_balance['cur_month'] = pd.to_datetime(df_balance['cur_month'])

In [151]:
df_balance

        party_rk  account_rk prev_month  cur_month  balance_chng
0          51607       55309 2018-12-31 2019-01-31       15000.0
1          59074       70471 2018-12-31 2019-01-31           0.0
2          33941       33065 2018-12-31 2019-01-31      -15000.0
3           9336        8611 2018-12-31 2019-01-31      -50000.0
4          13958        8421 2018-12-31 2019-01-31      -20000.0
...          ...         ...        ...        ...           ...
614418     61783      105951 2019-11-30 2019-12-31      -25000.0
614419     73974       91118 2019-11-30 2019-12-31      -20000.0
614420     34789      107927 2019-11-30 2019-12-31           0.0
614421     15325       52525 2019-11-30 2019-12-31           0.0
614422     49302       52127 2019-11-30 2019-12-31           0.0

[612832 rows x 5 columns]

##### Заполнение пропусков <a class="anchor" id="ch2233"></a>

In [152]:
print("\nКоличество пропущенных значений до заполнения пропусков:")
df_balance.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений до заполнения пропусков:

   party_rk  account_rk  prev_month  cur_month  balance_chng
0         0           0           0          0             0

В тех строчках, где у нас пропущенные значения 'prev_month' и 'cur_month', нет смысла вставлять туда  моду, так как мы работаем с датами.

In [153]:
df_balance = df_balance.dropna(subset=["prev_month"],axis =0)
df_balance = df_balance.dropna(subset=["cur_month"],axis = 0)

In [154]:
print("\nКоличество пропущенных значений до заполнения пропусков:")
df_balance.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений до заполнения пропусков:

   party_rk  account_rk  prev_month  cur_month  balance_chng
0         0           0           0          0             0

##### Удаление выбросов <a class="anchor" id="ch2233"></a>

In [155]:
sns.boxplot(x=df_balance['balance_chng']);

NameError: name 'sns' is not defined

In [156]:
df_balance['pos_change'] = df_balance['balance_chng'].apply(lambda x: x if x >= 0 else x * -1)
df_balance_out,_,_ = removing_outliers('pos_change',df_balance)
df_balance_out=df_balance_out.drop(['pos_change'],axis = 1)
df_balance=df_balance.drop(['pos_change'],axis = 1)

Количество строк, выбранных для удаления pos_change: 129475. Количество итераций 3

In [52]:
# Q1 = df_balance['balance_chng'].quantile(0.25)
# Q3 = df_balance['balance_chng'].quantile(0.75)
# IQR = Q3 - Q1
# df_balance_out = df_balance[~((df_balance['balance_chng'] < (Q1 - 1.5 * IQR)) | (df_balance['balance_chng'] > (Q3 + 1.5 * IQR)))]

In [157]:
print('Количество строк до удаления выбросов: {}, количество столбцов: {}'.format(df_balance.shape[0], df_balance.shape[1]))
print('Количество строк после удаления выбросов: {}, количество столбцов: {}'.format(df_balance_out.shape[0], df_balance_out.shape[1]))

Количество строк до удаления выбросов: 612832, количество столбцов: 5
Количество строк после удаления выбросов: 483357, количество столбцов: 5

In [81]:
sns.boxplot(x=df_balance_out['balance_chng']);

NameError: name 'sns' is not defined

In [158]:
df_balance_out.head()

   party_rk  account_rk prev_month  cur_month  balance_chng
1     59074       70471 2018-12-31 2019-01-31           0.0
5     46840       48834 2018-12-31 2019-01-31       -5000.0
6     51748       52590 2018-12-31 2019-01-31           0.0
7     11781        8193 2018-12-31 2019-01-31      -10000.0
8      4489        3769 2018-12-31 2019-01-31           0.0

### df_stories_texts <a class="anchor" id="ch224"></a>

В данной таблице содержится информация об историях, выкладываемых Тинькоффом, где
<ul>
<li><strong>story_id</strong> - уникальный идентификационный номер истории</li> 
<li><strong>name</strong> - заголовок истории</li>
<li><strong>story_text</strong> - текст истории</li>
</ul>
<strong>Первичным ключом</strong> таблицы является атрибут story_id.

In [159]:
df_story_texts.head()

,story_id,name,story_text
0,794,Профессия: свадебный организатор,"["""",""Как стать свадебным организатором"",""Это Л..."
1,821,Бизнес: магазин электроники,"["""",""Как открыть интернет-магазин электроники""..."
2,824,Как у них: Сингапур,"["""",""Жизнь в Сингапуре"",""Это Славина. Вместе с..."
3,839,Студии йоги,"["""",""Студии йоги"",""7 московских студий, где мо..."
4,848,Как получать больше кэшбэка,"["""",""Как получать больше кэшбэка"",""Подключите ..."

##### Первичный анализ <a class="anchor" id="ch2241"></a>

In [160]:
print('Количество строк: {}, количество столбцов: {}'.format(df_story_texts.shape[0], df_story_texts.shape[1]))

Количество строк: 1631, количество столбцов: 3

In [45]:
df_story_texts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1631 entries, 0 to 1630
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   story_id    1631 non-null   int64
 1   name        1401 non-null   object
 2   story_text  1631 non-null   object
dtypes: int64(1), object(2)
memory usage: 38.4+ KB

##### Заполнение пропусков <a class="anchor" id="ch2243"></a>

In [161]:
print("\nКоличество пропущенных значений:")
df_story_texts.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений:

   story_id  name  story_text
0         0     0           0

In [162]:
df_story_texts['name'] = df_story_texts['name'].fillna('Unknown')

In [163]:
print("\nКоличество пропущенных значений:")
df_story_texts.isna().sum().to_frame().sort_values(0, ascending = False).T

Количество пропущенных значений:

   story_id  name  story_text
0         0     0           0

In [164]:
print('Всего топиков стори: {}'.format(df_story_texts['name'].nunique()))

Всего топиков стори: 1106

### df_stories_logs <a class="anchor" id="ch225"></a>

В данной таблице содержится информация о действиях клиентов относительно историй, где
<ul>
<li><strong>party_rk</strong> - уникальный идентификационный номер клиента</li> 
<li><strong>date_time</strong> - дата и время действия клиента в формате ГГГГ-ММ-ДД ЧЧ:ММ:СС </li>
<li><strong>story_id</strong> - уникальный идентификационный номер истории</li>
<li><strong>category</strong> - уникальный идентификационный номер категории действия</li>
<li><strong>event</strong> - наименование действия (like / dislike / ...)</li>
</ul>
<strong>Первичный ключ</strong> таблицы является составным из двух атрибутов: party_rk + date_time.

In [170]:
df_stories_logs.head()

   party_rk           date_time  story_id  category event_cat  Month
0     64266 2019-12-01 13:05:31      3840        39         1     12
1     55721 2019-12-01 13:18:08      3857        39         1     12
2     27563 2019-12-01 13:25:40      3174        78         1     12
3     61223 2019-12-01 13:25:20      3857        39         1     12
4     61223 2019-12-01 13:29:05      3765        73         1     12

##### Первичный анализ <a class="anchor" id="ch2251"></a>

In [171]:
print('Количество строк: {}, количество столбцов: {}'.format(df_stories_logs.shape[0], df_stories_logs.shape[1]))

Количество строк: 13820, количество столбцов: 6

In [167]:
df_stories_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13820 entries, 0 to 13819
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   party_rk   13820 non-null  int64
 1   date_time  13820 non-null  datetime64[ns]
 2   story_id   13820 non-null  int64
 3   category   13820 non-null  int64
 4   event_cat  13820 non-null  object
 5   Month      13820 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 647.9+ KB

Заметим, что у признака 'date_time', который представляет из себя дату, тип object, хотя должен быть тип datetime.

In [172]:
df_stories_logs['date_time'] = pd.to_datetime(df_stories_logs['date_time'])

In [173]:
df_stories_logs['event'].value_counts().reset_index()

KeyError: 'event'

Удалим строки с непонятными (числовыми) значениями по признаку 'index'

In [ ]:
df_stories_logs = df_stories_logs[(df_stories_logs['event'] == 'like') | (df_stories_logs['event'] =='dislike') | (df_stories_logs['event'] =='favorite')]

In [ ]:
df_stories_logs.head()

##### Приведение категориальных признаков к числовому виду <a class="anchor" id="ch2252"></a>

In [ ]:
# заменим в стобце event категориальные значение на числа
df_stories_logs['event_cat'] = np.where(df_stories_logs['event'] == 'dislike' , 0, df_stories_logs['event'])
df_stories_logs['event_cat'] = np.where(df_stories_logs['event'] == 'like' , 1, df_stories_logs['event_cat'])
df_stories_logs['event_cat'] = np.where(df_stories_logs['event'] == 'favorite' , 2, df_stories_logs['event_cat'])

In [ ]:
df_stories_logs.head()

In [ ]:
del df_stories_logs['event']

##### Заполнение пропусков <a class="anchor" id="ch2253"></a>

In [ ]:
print("\nКоличество пропущенных значений:")
df_stories_logs.isna().sum().to_frame().sort_values(0, ascending = False).T

### df_products <a class="anchor" id="ch226"></a>

В данной таблице содержится информация о связи пользователей с некоторыми категориями продуктов, где
<ul>
<li><strong>party_rk</strong> - уникальный идентификационный номер клиента</li> 
<li><strong>product1 - ... - product7</strong> - связи пользователя и соответствующего продукта </li>
</ul>
<strong>Первичным ключом</strong> таблицы является атрибут party_rk.

In [ ]:
df_products.head()

##### Первичный анализ <a class="anchor" id="ch2261"></a>

In [ ]:
print('Количество строк: {}, количество столбцов: {}'.format(df_products.shape[0], df_products.shape[1]))

In [ ]:
df_products.info()

Проверим, являются ли значения во всех столбцах бинарными.

In [ ]:
columns_products = df_products.columns[1:]
for column in columns_products:
    print('Столбец: ',column)
    print(df_products[column].value_counts(),end='\n\n')

Да, все признаки являются бинарными.

##### Заполнение пропусков <a class="anchor" id="ch2263"></a>

In [ ]:
print("\nКоличество пропущенных значений:")
df_products.isna().sum().to_frame().sort_values(0, ascending = False).T

## Визуализация данных  <a class="anchor" id="ch4"></a>

In [ ]:
df_cluster = pd.merge(df_train, df_socdem)

In [ ]:
df_category_trans = df_cluster.groupby("category")['transaction_amt_rur'].sum().reset_index().sort_values(by = 'transaction_amt_rur', ascending = False)

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot(x="transaction_amt_rur", y="category", data=df_category_trans, orient = 'h');

In [ ]:
## ИСПРАВИИИИИИТЬЬЬЬЬЬЬ
# df_distr = pd.pivot_table(data = df_cluster[['age', 'transaction_amt_rur', 'children_cnt', 'gender_cd', 'category']], index = ['gender_cd', 'category'])

In [ ]:
# df_distr = df_distr.reset_index()

In [ ]:
# plt.figure(figsize=(16,10))
# sns.lineplot(data= df_distr, x=df_distr['category'], y=df_distr['transaction_amt_rur'], hue=df_distr['gender_cd'])
# plt.xticks(rotation=90);

## Feature Engineering  <a class="anchor" id="ch9"></a>

Создадим <strong> новые признаки </strong> для единой итоговой таблицы, характеризующие совершаемые клиентами транзакции в различных категориях. Новые характеристики будут отражать  
<ul>
    <li>средние траты по категориям,</li>
    <li>частоту покупок (в т.ч. повторных покупок в одной категории), </li>
    <li>статистику активности клиентов в интернете по данным категориям товаров и т.д.</li>
</ul>

### Признак №1 <a class="anchor" id="ch91"></a>

$\frac{\mbox{(Количество лайков у человека в конкретной категории в данном месяце)}}{\mbox{(Общее количество лайков человека в конкретном месяце)}}$

<strong>Признак:</strong> рейтинг категорий, которые лайкнул пользователь. Для того, чтобы его посчитать, смотрим на то, сколько лайков юзер поставил на стори той или иной категории и делим это на суммарное количество лайков по всем категориям.

In [312]:
def create_df_user_cat_action(matrix3, matrix4, action):
    '''
    FUNC: считает количество действий (лайков, дизлайков, добавление в любимые) в конкретной категории для каждого пользователя
    IN: matrix3 (информация о пользователях)
    IN: matrix4 (информация о действиях пользователей)
    OUT: df_cat_likes_1 таблица, содержащая информацию о количестве лайков пользователя в каждой категории
    '''
    # создадим список party_ids, длиной в кооличество категорий * количество уникальных пользователей
    party_ids = []
    for i in matrix3['party_rk'].unique():
        for j in range(81):
            party_ids.append(i)
    cat_action = list(matrix4['category'].unique()) * 50000
    temple_action = pd.DataFrame({'party_rk': party_ids, 'category': cat_action})
    
    # выберем данные, соответствующие последним двум месяцам и определенному действию пользователей
    matrix4['Month'] = pd.DatetimeIndex(matrix4['date_time']).month
    df_stories_logs_action = matrix4[((matrix4['Month'] == 10) | (matrix4['Month'] == 11)) &
                                       (matrix4['event_cat'] == action)]
    
    # оставим только нужные нам столбцы
    df_stories_logs_new_action = df_stories_logs_action.copy()
    del df_stories_logs_new_action['date_time']
    del df_stories_logs_new_action['story_id']
    del df_stories_logs_new_action['Month']
    
    # создадим столбец 'number_action', в котором будут храниться количество дейстий, совершенных пользователем по конкректной категории
    df_cat_action = pd.DataFrame(df_stories_logs_new_action.groupby(["party_rk", "category"])['event_cat'].count())
    df_cat_action.columns = ['number_action']
    df_cat_action.reset_index(inplace = True)
    df_cat_action_1 = pd.merge(temple_action, df_cat_action, how='left')
    df_cat_action_1['number_action'] = df_cat_action_1['number_action'].fillna(0)
    
    return df_cat_action_1


def create_df_user_cat_sum_action(temp1):
    '''
    FUNC: считает суммарное количество действий каждого пользователя
    IN: temp1 (информация о количестве действий пользователей в конкректных категориях)
    OUT: df_cat_likes_likes_all_cat (информация о суммарном количестве действий каждого пользователя)
    '''
    
    # группируем таблицу по 'party_rk' и суммируем количество действий для каждого пользователя
    df_cat_likes_likes_all_cat = temp1[['party_rk', 'number_action']]
    df_cat_likes_likes_all_cat.columns = ['party_rk', 'sum_number_action']
    df_cat_likes_likes_all_cat = df_cat_likes_likes_all_cat.groupby(['party_rk'])['sum_number_action'].agg('sum').reset_index()
    
    return df_cat_likes_likes_all_cat


def create_df_freq_user_action(temp2, temp3):
    '''
    FUNC: считает частоту определенного действия каждого пользователя в конкретной категории
    IN: temp2 (таблица с количеством действий каждого пользователя в каждой категории)
    IN: temp3 (таблица с суммарным количеством действий каждого пользователя)
    OUT: таблица с частотой действий пользователя в каждой категории
    '''
    # соединяем две таблицы по 'party_rk' и добавляем новый столбец с частотой определнного действия для каждого пользователя в каждой категории
    df_temp1_likes = pd.merge(temp2, temp3, how = 'left')
    df_temp1_likes['freq_action'] = 1.0 * df_temp1_likes['number_action']/df_temp1_likes['sum_number_action']
    df_temp1_likes = df_temp1_likes[['party_rk', 'category', 'freq_action']]
    df_temp1_likes.fillna(0, inplace = True)
    
    return df_temp1_likes

In [313]:
def create_final_df(matrix3, matrix4, temp_fin):
    '''
    FUNC: создает таблицу, где строки будут пользователями, а столбцы - категориями, на их переесечении - количество действий 
    каждого пользователя в конкректной категории
    IN: matrix3 (информация о пользователях, включая идентификатор пользователя)
    IN: matrix4 (информация о дейтсвиях пользователя)
    IN: temp_fin (информация о частоте действий пользователей в конкректной категории)
    OUT:
    '''
    
    df_new_action = pd.DataFrame({'party_rk': matrix3['party_rk'].unique()})
    for i in matrix4['category'].unique():
        df_temp_for_action = temp_fin[temp_fin['category'] == i]
        del df_temp_for_action['category']
        df_new_action_ = pd.merge(df_new_action, df_temp_for_action, left_on = 'party_rk', right_on = 'party_rk', how = 'left')
        df_new_action = df_new_action_.copy()
    
    return df_new_action

In [314]:
df_user_cat_likes = create_df_user_cat_action(df_socdem_num_, df_stories_logs, 1)
df_user_cat_likes.head()

   party_rk  category  number_action
0     61243        39            0.0
1     61243        78            0.0
2     61243        73            0.0
3     61243        81            0.0
4     61243        44            0.0

In [315]:
df_user_cat_sum_likes = create_df_user_cat_sum_action(df_user_cat_likes)
df_user_cat_sum_likes.head()

   party_rk  sum_number_action
0         1                0.0
1         5                0.0
2         7                0.0
3         8                0.0
4         9                0.0

In [316]:
df_freq_user_likes  = create_df_freq_user_action(df_user_cat_likes, df_user_cat_sum_likes)
df_freq_user_likes.head()

   party_rk  category  freq_action
0     61243        39          0.0
1     61243        78          0.0
2     61243        73          0.0
3     61243        81          0.0
4     61243        44          0.0

In [317]:
final_df_likes = create_final_df(df_socdem_num_, df_stories_logs, df_freq_user_likes)
final_df_likes.head()

,party_rk,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,...,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [318]:
s_likes = ['party_rk']
for i in df_stories_logs['category'].unique():
    string_name_likes  = 'storyLikes_' + str(i) 
    s_likes.append(string_name_likes)
final_df_likes.columns = s_likes
df_new_likes_final = final_df_likes.copy()

In [319]:
df_new_likes_final.head()

,party_rk,storyLikes_39,storyLikes_78,storyLikes_73,storyLikes_81,storyLikes_44,storyLikes_16,storyLikes_68,storyLikes_15,storyLikes_71,...,storyLikes_72,storyLikes_42,storyLikes_58,storyLikes_1,storyLikes_23,storyLikes_21,storyLikes_64,storyLikes_77,storyLikes_79,storyLikes_75
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [320]:
f1 = df_new_likes_final
f1

,party_rk,storyLikes_39,storyLikes_78,storyLikes_73,storyLikes_81,storyLikes_44,storyLikes_16,storyLikes_68,storyLikes_15,storyLikes_71,...,storyLikes_72,storyLikes_42,storyLikes_58,storyLikes_1,storyLikes_23,storyLikes_21,storyLikes_64,storyLikes_77,storyLikes_79,storyLikes_75
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Признак №2 <a class="anchor" id="ch92"></a>

<strong>Признак:</strong> рейтинг категорий, которые дизлайкнул пользователь. Для того, чтобы его посчитать, смотрим на то, сколько дизлайков юзер поставил на стори той или иной категории и делим это на суммарное количество дизлайков по всем категориям.

$\frac{\mbox{(Количество дизлайков у человека в конкретной категории в данном месяце)}}{\mbox{(Общее количество дизлайков человека в конкретном месяце)}}$

In [321]:
df_user_cat_dislikes = create_df_user_cat_action(df_socdem_num_, df_stories_logs, 0)
df_user_cat_dislikes.head()

   party_rk  category  number_action
0     61243        39            0.0
1     61243        78            0.0
2     61243        73            0.0
3     61243        81            0.0
4     61243        44            0.0

In [322]:
df_user_cat_sum_dislikes = create_df_user_cat_sum_action(df_user_cat_dislikes)
df_user_cat_sum_dislikes.head()

   party_rk  sum_number_action
0         1                0.0
1         5                0.0
2         7                0.0
3         8                0.0
4         9                0.0

In [323]:
df_freq_user_dislikes  = create_df_freq_user_action(df_user_cat_dislikes, df_user_cat_sum_dislikes)
df_freq_user_dislikes.head()

   party_rk  category  freq_action
0     61243        39          0.0
1     61243        78          0.0
2     61243        73          0.0
3     61243        81          0.0
4     61243        44          0.0

In [324]:
final_df_dislikes = create_final_df(df_socdem_num_, df_stories_logs, df_freq_user_dislikes)
final_df_dislikes.head()

,party_rk,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,...,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action_x,freq_action_y,freq_action
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [325]:
s_dislikes = ['party_rk']
for i in df_stories_logs['category'].unique():
    string_name_dislikes = 'storydislikes_' + str(i) 
    s_dislikes.append(string_name_dislikes)
final_df_dislikes.columns = s_dislikes
df_new_dislikes_final = final_df_dislikes.copy()

In [326]:
df_new_dislikes_final.head()

,party_rk,storydislikes_39,storydislikes_78,storydislikes_73,storydislikes_81,storydislikes_44,storydislikes_16,storydislikes_68,storydislikes_15,storydislikes_71,...,storydislikes_72,storydislikes_42,storydislikes_58,storydislikes_1,storydislikes_23,storydislikes_21,storydislikes_64,storydislikes_77,storydislikes_79,storydislikes_75
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [327]:
f2 = df_new_dislikes_final
f2

,party_rk,storydislikes_39,storydislikes_78,storydislikes_73,storydislikes_81,storydislikes_44,storydislikes_16,storydislikes_68,storydislikes_15,storydislikes_71,...,storydislikes_72,storydislikes_42,storydislikes_58,storydislikes_1,storydislikes_23,storydislikes_21,storydislikes_64,storydislikes_77,storydislikes_79,storydislikes_75
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Признак №3 <a class="anchor" id="ch93"></a>

<strong>Признак:</strong> средняя сумма в месяц, потраченная пользователем на конкретную категорию (подсчет по последним трем месяцам).

Получим 37 новых столбцов для единой итоговой таблицы.

Укажем даты начала и конца периода из крайних трех месяцев тренировочной выборки:

In [328]:
def cutDate(start_date, stop_date, matrix):
    '''
    FUNC: выводит транзакции в указанном периоде
    IN: start_date (дата, с которой начинается необходимый временной промежуток (не включительно))
    IN: stop_date (дата, на которой заканчивается необходимый временной промежуток (включительно))
    IN: matrix (таблица с информацией о транзакциях)
    OUT: pre_cut (таблица транзакций за указанный период)
    OUT: final_cut (таблица транзакций за указанный период, ключающая только столбец 'party_rk')
    '''
        
    temp1 = matrix[matrix['transaction_dttm'] <= stop_date]
    pre_cut = temp1[start_date < temp1['transaction_dttm']]
    final_cut = pre_cut['party_rk'].to_frame()
    return pre_cut, final_cut
    
    
def feature3(matrix, matrix3, date1, date4):
    '''
    FUNC: создает таблицу со значениями искомого признака
    IN: matrix (таблица с информацией о транзакциях)
    IN: matrix3 (таблица с информацией о пользователях)
    IN: date1 (дата окончания  рассматриваемого периода времени (включительно))
    IN: date4 (дата начала рассматриваемого периода времени (не включительно))
    OUT: final_feature3 (таблица, строки которой - пользователи, столбцы - категории, на пересечении - искомый признак)
    '''

    # Выпишем все party_rk всех пользователей
    df_pr3 = matrix3['party_rk'].to_frame()

    # Выведем все транзакции, совершаемые в периоде времени [date4, date1]
#     month_3_pre_cut, month_3_final_cut  = cutDate(date4, date1, matrix)
    
    temp1 = matrix[matrix['transaction_dttm'] <= date1]
    month_3_pre_cut = temp1[date4 <  temp1['transaction_dttm']]
    month_3_final_cut = month_3_pre_cut['party_rk'].to_frame()
    
    # Пройдем по каждой из 37 категорий и посчитаем среднюю сумму трат, сгруппированных по пользователям, 
    # а затем занесем новый получившийся столбец в общую таблицу df_pr3

    res3 = pd.DataFrame()
    for i in range(37):
        temp2 = month_3_pre_cut[month_3_pre_cut['category'] == i]
        temp3 = temp2[['party_rk', 'transaction_amt_rur']]
        feature3 = temp3.groupby(['party_rk']).mean()
        name2 = 'categoryii' + str(i)+'_mean3month'
        feature3 = feature3.rename(columns={'transaction_amt_rur': name2}) 
        df_pr3 = pd.merge(df_pr3, feature3, left_on='party_rk', right_on='party_rk', how='left')
    
    # Заполним нулями все поля для пользователей, которые ничего не покупали в рассматриваемой категории за данные 3 месяца
    final_feature3 = df_pr3.fillna(0)
    
    return final_feature3

In [329]:
f3 = feature3(df_train_out, df_socdem_num, datetime.datetime(2019,11,30), datetime.datetime(2019,8,31))
f3

,party_rk,categoryii0_mean3month,categoryii1_mean3month,categoryii2_mean3month,categoryii3_mean3month,categoryii4_mean3month,categoryii5_mean3month,categoryii6_mean3month,categoryii7_mean3month,categoryii8_mean3month,...,categoryii27_mean3month,categoryii28_mean3month,categoryii29_mean3month,categoryii30_mean3month,categoryii31_mean3month,categoryii32_mean3month,categoryii33_mean3month,categoryii34_mean3month,categoryii35_mean3month,categoryii36_mean3month
0,61243,0.00,180.333333,306.645610,314.000000,0.0,0.0,0.00000,458.500000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.00,193.995000,272.515294,0.000000,0.0,779.0,0.00000,0.000000,188.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.00,150.128571,327.899600,590.666667,0.0,0.0,0.00000,580.030000,134.622642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.00,703.333333,168.829231,902.000000,0.0,340.9,521.00000,0.000000,80.625000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.00,0.000000,0.000000,0.000000,0.0,0.0,726.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,610.74,333.622500,206.458200,305.437143,0.0,0.0,135.98375,338.879333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0.00,0.000000,168.935417,643.000000,0.0,0.0,559.80000,219.257143,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0.00,0.000000,0.000000,0.000000,0.0,0.0,645.75000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Признак №4 <a class="anchor" id="ch94"></a>

<strong>Признак 1: </strong> количество месяцев с транзакциями по категориям

<strong>Признак 2: </strong> стандартное отклонение суммы траназкций в месяц по категориям (посчитано для месяцев с транзакциями)

<strong>Признак 3: </strong> средняя сумма транзакций в месяц по категориям (посчитано для месяцев с транзакциями)


Получим 37*3+1 новых столбцов

In [331]:
def calc_trans_by11month(matrix):
    '''
    FUNC: считает суммы транзакций за каждый месяц по всем юзерам
    IN: matrix (таблица с информацией о транзакциях)
    OUT: cat_ptable ([{юзер,месяц} сумма_месяца_Категория1,...,сумма_месяца_Категория37])
    '''

    # создадим вспомогательный столбец = первый день месяца в котором произошла операция
    df = matrix[['transaction_dttm','party_rk','transaction_amt_rur','category']]
    df['transaction_dttm'] = pd.to_datetime(df['transaction_dttm'] )
    df['month_dttm'] = df['transaction_dttm'] + pd.offsets.Day() - pd.offsets.MonthBegin()

    # уберем все наблюдения последнего месяца
    df = df[df['month_dttm'] < max(df['month_dttm'])]

    # сделаем группировку сум_транзакций по месяцам
    df = df.groupby(['party_rk','category','month_dttm']).sum()
    df = df.reset_index()
    
    # создадим cat_ptable 
    cat_ptable = pd.pivot_table(df, values=['transaction_amt_rur'], columns=['category'],  index=['party_rk','month_dttm'], aggfunc={np.sum})
    cat_ptable.columns = cat_ptable.columns.get_level_values(2)
    cat_ptable = cat_ptable.reset_index()
    return cat_ptable

def createFeature4(cat_ptable, matrix3):
    '''
    FUNC: считает features 
    IN: cat_ptable ([{юзер,месяц} сумма_месяца_Категория1,...,сумма_месяца_Категория37])
    IN: matrix3 (таблица с информацией о пользователях)
    OUT: feature_all
    '''
    # заполним дефолтными np.NaN суммы_расходов_категорий пользователей, которые пропали после чистки или удаления 12го месяца 
    #   в итоге, должно получиться len(df_socdem) == 50 000 штук наблюдений 
    lost_users = list(set(matrix3.party_rk)-set(cat_ptable.party_rk))
    row = cat_ptable.iloc[:1] 
    for user_id in lost_users:
        row.party_rk = user_id
        row.iloc[:,2:row.shape[1]] = np.NaN
        cat_ptable = cat_ptable.append(row, ignore_index = True)
    
    grouped_ptabel = cat_ptable.groupby(['party_rk'])
    # посчитаем кол-во месяцев с операциями OUT:feature_count
    feature_count = grouped_ptabel.count()
    # поставим суфикс '_count'в columns
    feature_count.columns = pd.Index(list(['categoryii'+str(i)+'_count' for i in list(feature_count.columns)]))
    
    grouped_ptabel = cat_ptable.fillna(0).groupby(['party_rk'])
    # посчитаем среднее операций OUT:feature_mean
    feature_mean = grouped_ptabel.mean()
    # поставим суффикс '_mean'в columns
    feature_mean.columns = pd.Index(list(['categoryii'+str(i)+'_mean' for i in list(feature_mean.columns)]))

    # посчитаем среднее операций OUT:feature_std
    feature_std = grouped_ptabel.std()
    # поставим суффикс '_std'в columns
    feature_std.columns = pd.Index(list(['categoryii'+str(i)+'_std' for i in list(feature_std.columns)]))

    # объединим в одну таблицу 
    feature_all = (feature_count
                                .reset_index().merge(feature_mean.reset_index(), on='party_rk', how='left')
                                              .merge(feature_std.reset_index(), on='party_rk', how='left'))
    return feature_all


cat_ptable = calc_trans_by11month(df_train)
f4 = cat_features = createFeature4(cat_ptable,df_socdem_num)
f4

,party_rk,categoryiimonth_dttm_count,categoryii0_count,categoryii1_count,categoryii2_count,categoryii3_count,categoryii4_count,categoryii5_count,categoryii6_count,categoryii7_count,...,categoryii27_std,categoryii28_std,categoryii29_std,categoryii30_std,categoryii31_std,categoryii32_std,categoryii33_std,categoryii34_std,categoryii35_std,categoryii36_std
0,1,9,0,2,3,0,0,0,6,0,...,0.000000,0.000000,257.166667,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
1,5,11,1,4,7,3,0,0,6,5,...,54286.544206,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
2,7,8,0,0,2,0,0,0,6,1,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
3,8,7,0,2,2,1,0,1,6,1,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
4,9,7,0,3,7,1,0,0,6,0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,94603,11,0,2,2,0,0,0,3,2,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
49996,94606,10,0,6,9,4,0,0,8,3,...,0.000000,0.000000,0.000000,0.0,197.009898,0.0,0.0,3788.408637,0.0,0.0
49997,94607,9,0,0,2,1,0,1,2,0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
49998,94608,11,0,0,2,1,0,0,11,1,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
49999,94610,2,0,1,1,0,0,0,1,1,...,0.000000,326.683333,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

### Признак №5 <a class="anchor" id="ch97"></a>

<strong>Признак:</strong> частота повторных покупок у одного человека по каждой из категорий. 

<strong>Повторными</strong> будем называть <strong>покупки</strong> одной категории, совершенные друг за другом. 

Для <strong>нахождения этого признака</strong> для j-го пользователя по i-ой категории посчитаем разницу в днях между двумя повторными покупками и найдем среднее значение этой разницы.

Получим 37 новых столбцов для единой итоговой таблицы.

In [332]:
# Выпишем все party_rk всех пользователей

df_pr7 = df_socdem['party_rk'].to_frame()

Для каждой из 37 категорий пройдем циклом по всем пользователям и найдем искомое значение признака, затем соберем эти признаки в столбцы и объединим в одну таблицу.

С целью нахождения количества дней между двумя соседними покупками, <strong>построим лаг со сдвигом на один день </strong>. Будем вычитать из начальных дат даты с лагом на один день, получая искомый столбец. Далее будем находить среднее значение по этому столбцу:

In [333]:
def calc_feature_buyfreq(df_train): 
    ''' 
    FUNC: считает признак - среднее количество дней между транзакциями в категории пользователя 
    IN: df_train :: очищенная на 11 месяцев 
    OUT: cat_ptable = [частота_покупок_Категория1,...,частота_покупок_Категория2, {юзер_id}] 
 
    ''' 
    # считаем проекцию и сортировку  по 'party_rk','category','transaction_dttm' 
    df = df_train[['party_rk','category','transaction_dttm']] 
    df['transaction_dttm'] = pd.to_datetime(df['transaction_dttm']) 
    df = df.sort_values(['category','party_rk','transaction_dttm']) 
    df = df.reset_index().drop(columns=['index']) 
 
    # добавляем строку со сдвигом для 'transaction_dttm','party_rk' 
    df_shifted = df[['transaction_dttm','party_rk']][1:].reset_index().drop(columns=['index']) 
    transaction_dttm_shifted, party_rk_shifted = df_shifted['transaction_dttm'], df_shifted['party_rk'] 
 
    df_shifted = df.iloc[:-1,:] 
 
    df_shifted['transaction_dttm_shifted'] = transaction_dttm_shifted 
    df_shifted['party_rk_shifted'] = party_rk_shifted 
 
    # считаем разницу между изначльным и сдвинутыми columns 
    df_shifted['party_rk_balance'] = df_shifted['party_rk_shifted']  - df_shifted['party_rk'] 
    df_shifted['transaction_dttm_balance'] = (df_shifted['transaction_dttm_shifted']  - df_shifted['transaction_dttm']).dt.days 
    df_shifted.loc[df_shifted['transaction_dttm_balance']<0, 'transaction_dttm_balance'] = 0 
 
    # удаляем строки пользуюясь разницой сдвигов   
    df_shifted = df_shifted[df_shifted['party_rk_balance'] == 0] 
    df_shifted = df_shifted.groupby(['party_rk','category']).mean().drop(columns=['party_rk_shifted','party_rk_balance']).reset_index() 
 
    # считаем признак в cat_ptable 
    cat_ptable = pd.pivot_table(df_shifted, values=['transaction_dttm_balance'], index=['party_rk'], columns=['category']).reset_index().fillna(0.0) 
    cat_ptable.columns = cat_ptable.columns.get_level_values(1) 
 
    # добавляем суфикс '_buyfreq'в columns и column 'party_rk' 
    cat_ptable.columns = pd.Index(list(['categoryii'+str(i)+'_buyfreq' for i in list(cat_ptable.columns)])) 
    cat_ptable['party_rk'] = cat_ptable.iloc[:,:1] 
    cat_ptable = cat_ptable.iloc[:,1:] 
 
    return cat_ptable

def feature5(cat_ptable, matrix3):
    '''
    FUNC: заполняет признак нулями для пользователей, которые ничего не покупали 
    IN: cat_ptable ([частота_покупок_Категория1,...,частота_покупок_Категория2, {юзер_id}])
    IN: matrix3 (таблица с информацией о пользователях)
    OUT: final_feature5 (таблица, строки которой - пользоавтели, столбцы - категории, на пересечении - искомый признак)
    '''
    
    # Выпишем все party_rk всех пользователей
    df_pr5 = matrix3['party_rk'].to_frame()
    df_pr5_ = pd.merge(df_pr5, cat_ptable, left_on='party_rk', right_on='party_rk', how='left')
    final_feature5 = df_pr5_.fillna(0)
    return final_feature5

Получаем таблицу, строки которой - пользоавтели, столбцы - категории, на пересечении - искомый признак)

In [334]:
f5 = feature5(calc_feature_buyfreq(df_train_out[df_train_out['transaction_dttm'] <= datetime.datetime(2019,11,30)]), df_socdem_num)
f5

,party_rk,categoryii0_buyfreq,categoryii1_buyfreq,categoryii2_buyfreq,categoryii3_buyfreq,categoryii4_buyfreq,categoryii5_buyfreq,categoryii6_buyfreq,categoryii7_buyfreq,categoryii8_buyfreq,...,categoryii27_buyfreq,categoryii28_buyfreq,categoryii29_buyfreq,categoryii30_buyfreq,categoryii31_buyfreq,categoryii32_buyfreq,categoryii33_buyfreq,categoryii34_buyfreq,categoryii35_buyfreq,categoryii36_buyfreq
0,61243,0.0,34.166667,2.286713,13.857143,0.0,0.0,0.000000,30.600000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,11.400000,2.318681,0.000000,0.0,167.0,55.000000,10.600000,3.226190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,1.538462,3.125000,4.857143,0.0,0.0,0.000000,22.000000,1.615385,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,19.500000,2.280000,5.000000,0.0,0.0,0.000000,0.000000,1.913043,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,31.500000,10.000000,0.000000,0.0,0.0,12.937500,31.500000,11.307692,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0.0,0.000000,1.000000,0.000000,0.0,0.0,7.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,146.0,10.833333,2.583333,17.411765,0.0,0.0,6.914894,6.682927,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0.0,0.000000,30.666667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0.0,0.000000,2.394495,0.000000,0.0,0.0,8.243243,7.176471,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0.0,0.000000,0.000000,0.000000,0.0,0.0,25.200000,0.000000,10.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Признак №6 <a class="anchor" id="ch98"></a>

<strong>Признак:   </strong> 
$\frac{\mbox{(Количество покупок у человека в конкретной категории в данном месяце)}}{\mbox{(Общее количество транзакций человека в конкретном месяце)}}$

Посчитаем данный признак поочередно для трёх месяцев. Получим 

$\mbox{Количество категорий}\cdot 3\mbox{ месяца} = 37\cdot3=111$ - новых столбцов для итоговой единой таблицы.

In [335]:
def cutDate(matrix, start_date, stop_date):
    '''
    FUNC: выводит транзакции в указанном периоде
    IN: matrix (таблица с информацией о транзакциях)
    IN: start_date (дата, с которой начинается необходимый временной промежуток (не включительно))
    IN: stop_date (дата, на которой заканчивается необходимый временной промежуток (включительно))
    OUT: pre_cut (таблица транзакций за указанный период)
    OUT: final_cut (таблица транзакций за указанный период, ключающая только столбец 'party_rk')
    '''
    
    temp1 = matrix[matrix['transaction_dttm'] <= stop_date]
    pre_cut = temp1[start_date <  temp1['transaction_dttm']]
    final_cut = pre_cut['party_rk'].to_frame()
    return pre_cut, final_cut


def findFeature6(matrix, pre_cut, final_cut, df_pr8, num):
    '''
    FUNC: считает значение шестого признака
    IN: matrix (таблица с информацией о транзакциях)
    IN: pre_cut (таблица транзакций за указанный период)
    IN: final_cut (таблица транзакций за указанный период, ключающая только столбец 'party_rk')
    IN: df_pr8 (сборная таблица, в которую последовательно добавляются столбцы с найденными признаками для разных
                месяцев и категорий)
    IN: num (порядковый номер месяца)
    OUT: df_pr8 (сборная таблица, в которую последовательно добавляются столбцы с найденными признаками для разных
                месяцев и категорий)
    '''
    
    temp1 = matrix[matrix['transaction_dttm'] <= datetime.datetime(2019,11,30)]
    temp2 = temp1[datetime.datetime(2019,10,31) < temp1['transaction_dttm']]
    temp3 = temp2['party_rk'].to_frame()
    denominator = temp3['party_rk'].value_counts().to_frame().reset_index()
    
    res8 = pd.DataFrame()
    for i in range(37):
        temp4 = pre_cut[pre_cut['category'] == i]
        temp5 = temp4['party_rk'].to_frame()
        numerator = temp5['party_rk'].value_counts().to_frame().reset_index()
        res6 = denominator.merge(numerator, on='index')
        feature6 = res6['party_rk_y'] / res6['party_rk_x']
        name1 = 'categoryii' + str(i) +'_fracofcat_month' + str(num)
        res6[name1] = feature6
        fin6 = pd.DataFrame()
        fin6['party_rk'] = res6['index']
        fin6[name1] = feature6
        df_pr8 = pd.merge(df_pr8, fin6, left_on='party_rk', right_on='party_rk', how='left')
    return df_pr8


def feature6(matrix, matrix3, date1, date2, date3, date4):
    '''
    FUNC: создает таблицу со значениями искомого признака
    IN: matrix (таблица с информацией о транзакциях)
    IN: matrix3 (таблица с информацией о пользователях)
    IN: date1 (дата окончания третьего из трех месяцев)
    IN: date2 (дата окончания второго из трех месяцев)
    IN: date3 (дата окончания первого из трех месяцев)
    IN: date4 (дата окончания месяца до первого месяца)
    OUT: final_feature8 (таблица, строки которой - пользователи, столбцы - (месяц + категория), на пересечении - значение
                        искомого признака)
    '''
    
    # Выпишем все party_rk всех пользователей
    df_pr8_0 = matrix3['party_rk'].to_frame()
    
    # Запустим функции для получения столбцов-признаков
#     pre_cut1, final_cut1 = cutDate(matrix, date2, date1)
#     pre_cut2, final_cut2 = cutDate(matrix, date3, date2)
#     pre_cut3, final_cut3 = cutDate(matrix, date4, date3)   
    
    temp1 = matrix[matrix['transaction_dttm'] <= date1]
    pre_cut1 = temp1[date2 <  temp1['transaction_dttm']]
    final_cut1 = pre_cut1['party_rk'].to_frame()
    
    temp1 = matrix[matrix['transaction_dttm'] <= date2]
    pre_cut2 = temp1[date3 <  temp1['transaction_dttm']]
    final_cut2 = pre_cut2['party_rk'].to_frame()
    
    temp1 = matrix[matrix['transaction_dttm'] <= date3]
    pre_cut3 = temp1[date4 <  temp1['transaction_dttm']]
    final_cut3 = pre_cut3['party_rk'].to_frame()

    df_pr8_1 = findFeature6(matrix, pre_cut1, final_cut1, df_pr8_0, 1)
    df_pr8_2 = findFeature6(matrix, pre_cut2, final_cut2, df_pr8_1, 2)
    df_pr8_3 = findFeature6(matrix, pre_cut3, final_cut3, df_pr8_2, 3)

    # Заполним нулями все поля, характеризующие пользователя + категорию + месяц, когда покупки вообще не совершались
    final_feature6 = df_pr8_3.fillna(0)
    return final_feature6

Получаем таблицу, столбцами которой являются Один из 3 месяцев + Одна из 37 категорий, строками - пользователи, а на перечении стоит искомый признак:

In [336]:
f6 = feature6(df_train_out, df_socdem_num, datetime.datetime(2019,11,30), datetime.datetime(2019,10,31), datetime.datetime(2019,9,30), datetime.datetime(2019,8,31))
f6

,party_rk,categoryii0_fracofcat_month1,categoryii1_fracofcat_month1,categoryii2_fracofcat_month1,categoryii3_fracofcat_month1,categoryii4_fracofcat_month1,categoryii5_fracofcat_month1,categoryii6_fracofcat_month1,categoryii7_fracofcat_month1,categoryii8_fracofcat_month1,...,categoryii27_fracofcat_month3,categoryii28_fracofcat_month3,categoryii29_fracofcat_month3,categoryii30_fracofcat_month3,categoryii31_fracofcat_month3,categoryii32_fracofcat_month3,categoryii33_fracofcat_month3,categoryii34_fracofcat_month3,categoryii35_fracofcat_month3,categoryii36_fracofcat_month3
0,61243,0.0,0.055556,0.722222,0.000000,0.0,0.0,0.000000,0.055556,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.500000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.179487,0.230769,0.000000,0.0,0.0,0.000000,0.012821,0.576923,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.035714,0.428571,0.000000,0.0,0.0,0.035714,0.000000,0.428571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0.0,0.096774,0.290323,0.064516,0.0,0.0,0.225806,0.290323,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0.0,0.000000,0.428571,0.000000,0.0,0.0,0.142857,0.142857,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0.0,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Признак №7 (ARIMA) <a class="anchor" id="ch99"></a>

***ARIMA*** (англ. autoregressive integrated moving average, иногда модель Бокса — Дженкинса, методология Бокса — Дженкинса) — интегрированная модель авторегрессии — скользящего среднего — модель и методология анализа временных рядов. Такая модель может интерпретироваться как линейная модель множественной регрессии, в которой в качестве объясняющих переменных выступают прошлые значения самой зависимой переменной, а в качестве регрессионного остатка — скользящие средние из элементов белого шума.

Основная формула модели ARIMA:

𝑋𝑡=𝑐+𝜀𝑡+∑𝑖=1𝑝𝑎𝑖Δ𝑑𝑋𝑡−𝑖+∑𝑗=1𝑞𝑏𝑗𝜀𝑡−𝑗 

𝑋𝑡  - затраты, которые мы хотим предсказать
𝑋𝑡−𝑖  - затраты, основанные на исторических данных, затраты за предыдущие даты
Δ𝑑  - оператор разности временного ряда порядка d (последовательное взятие d раз разностей первого порядка — сначала от временного ряда, затем от полученных разностей первого порядка, затем от второго порядка и т. д.) c — константа
𝜀𝑡  — белый шум
𝑎𝑖,𝑏𝑖  — действительные числа, авторегрессионные коэффициенты и коэффициенты скользящего среднего, соответственно.

В коде у модели 3 параметра: p = порядок авторегресионной модели; d = степень разностей; q = порядок скользящего среднего. 



При помощи ARIMA мы будем **предсказывать затраты пользователей по 37 категорям** на основе временных рядов их транзакций, а далее **уточним эти предсказания через** ... и другие признаки итоговой матрицы X.

In [201]:
# уберем 12-ый месяц из выборки
df_train_ = df_train_out[pd.DatetimeIndex(df_train_out['transaction_dttm']).month != 12]

In [202]:
df_train_['transaction_dttm'] = pd.to_datetime(df_train_['transaction_dttm'])
df_train_ = df_train_.sort_values(by='transaction_dttm')
df_train_.set_index('transaction_dttm', inplace = True)

In [203]:
%%time

# Предсказание затрат по категории через 4 недели (~ месяц)
def arima(user_cat):
    for t in range(4):
        model = ARIMA(user_cat, order=(5,1,0))
        try:
            model_fit = model.fit()
        except np.linalg.LinAlgError:
            return user_cat.sum() / 13.5 # 54 / 4
        except IndexError:
            return user_cat.sum() / 13.5
        yhat = model_fit.forecast()
        user_cat = user_cat.append(yhat)
    answ = user_cat[-4:].sum()
    if answ < 0:
        condition = user_cat.index >= '2019-10-01'
        answ = user_cat[condition].sum()/3
    return answ


# Объединяем дни в недели
def month_sum(data_series_user):
    answer = data_series_user.resample("1W").sum()
    return answer

# посчитаем ARIMA для временных рядов затрат по категориям у каждому пользователю
def user_cat(data):
    users = data['party_rk'].unique()
    users_list = []
    now_date = str((pd.to_datetime('today') - pd.Timestamp("1970-01-01"))// pd.Timedelta('1s'))
    
    for user in tqdm(users):
            user_list = {'id':user}
            user_data = data[data['party_rk'] == user]
            categories = user_data['category'].unique()
            for category in categories:
                answer_table = user_data[user_data['category'] == category]
                answer_data_series = answer_table['transaction_amt_rur']
                answer_data_series_w = month_sum(answer_data_series)
                if len(answer_data_series_w) == 0:
                    user_list[category] = 0
                else:
                    arima_user_cat = arima(answer_data_series_w)
                    user_list[category] = arima_user_cat
            users_list.append(user_list)
            with open('arima_log'+now_date+'.txt', 'a', encoding='utf-8') as file:
                file.write(str(user_list) + '\n')

        
    return users_list

Wall time: 0 ns

In [204]:
# здесь мы считаем ариму
# Примерное время, ушедшее на подсчеты, == 37 часов))))))
# %%time
# user_cat_ = user_cat(df_train_)

## Создание единой таблицы  <a class="anchor" id="ch10"></a>

In [337]:
df1 = pd.merge(df_socdem_num_, df_products)
df1

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,marital_status_desc_Не проживает с супругом (ой),marital_status_desc_Разведен (а),marital_status_desc_Холост/не замужем,product1,product2,product3,product4,product5,product6,product7
0,61243,0,0,5,1,0,0,1,0,0,...,0,0,0,0,0,0,1,1,1,0
1,66535,0,0,1,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,83721,0,0,4,0,1,0,0,0,0,...,0,0,0,1,0,1,1,1,0,0
3,88238,0,0,2,1,0,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
4,57179,0,0,2,1,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
49996,63391,0,0,2,0,1,0,0,0,0,...,0,0,1,1,1,0,0,1,0,0
49997,5418,0,0,4,1,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
49998,50273,0,0,2,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
49999,77268,0,0,2,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [338]:
df2 = pd.merge(df1, f1)
df2

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,storyLikes_72,storyLikes_42,storyLikes_58,storyLikes_1,storyLikes_23,storyLikes_21,storyLikes_64,storyLikes_77,storyLikes_79,storyLikes_75
0,61243,0,0,5,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0,0,1,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0,0,4,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [339]:
df3 = pd.merge(df2, f2)
df3

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,storydislikes_72,storydislikes_42,storydislikes_58,storydislikes_1,storydislikes_23,storydislikes_21,storydislikes_64,storydislikes_77,storydislikes_79,storydislikes_75
0,61243,0,0,5,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0,0,1,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0,0,4,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [340]:
df4 = pd.merge(df3, f3)
df4

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,categoryii27_mean3month,categoryii28_mean3month,categoryii29_mean3month,categoryii30_mean3month,categoryii31_mean3month,categoryii32_mean3month,categoryii33_mean3month,categoryii34_mean3month,categoryii35_mean3month,categoryii36_mean3month
0,61243,0,0,5,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0,0,1,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0,0,4,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [341]:
df5 = pd.merge(df4, f4)
df5

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,categoryii27_std,categoryii28_std,categoryii29_std,categoryii30_std,categoryii31_std,categoryii32_std,categoryii33_std,categoryii34_std,categoryii35_std,categoryii36_std
0,61243,0,0,5,1,0,0,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,66535,0,0,1,1,0,0,1,0,0,...,2460.119204,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,83721,0,0,4,0,1,0,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,88238,0,0,2,1,0,0,1,0,0,...,0.000000,3766.757823,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,57179,0,0,2,1,0,0,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,7114.405603,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
49996,63391,0,0,2,0,1,0,0,0,0,...,5119.397301,0.000000,0.0,0.0,0.0,104.151064,0.0,0.0,0.0,0.0
49997,5418,0,0,4,1,0,0,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
49998,50273,0,0,2,1,0,0,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
49999,77268,0,0,2,1,0,0,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [342]:
df6 = pd.merge(df5, f5)
df6

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,categoryii27_buyfreq,categoryii28_buyfreq,categoryii29_buyfreq,categoryii30_buyfreq,categoryii31_buyfreq,categoryii32_buyfreq,categoryii33_buyfreq,categoryii34_buyfreq,categoryii35_buyfreq,categoryii36_buyfreq
0,61243,0,0,5,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0,0,1,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0,0,4,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [372]:
df7 = pd.merge(df6, f6)
df7

,party_rk,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,...,categoryii27_fracofcat_month3,categoryii28_fracofcat_month3,categoryii29_fracofcat_month3,categoryii30_fracofcat_month3,categoryii31_fracofcat_month3,categoryii32_fracofcat_month3,categoryii33_fracofcat_month3,categoryii34_fracofcat_month3,categoryii35_fracofcat_month3,categoryii36_fracofcat_month3
0,61243,0,0,5,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0,0,1,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0,0,4,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0,0,2,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0,0,2,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [373]:
df7 = df7.set_index('party_rk')

In [374]:
df7

,children_cnt,region_flg,AgeGroup,gender_cd_F,gender_cd_M,gender_cd_unknown,marital_status_desc_unknown,"marital_status_desc_Вдовец, вдова",marital_status_desc_Гражданский брак,marital_status_desc_Женат/замужем,...,categoryii27_fracofcat_month3,categoryii28_fracofcat_month3,categoryii29_fracofcat_month3,categoryii30_fracofcat_month3,categoryii31_fracofcat_month3,categoryii32_fracofcat_month3,categoryii33_fracofcat_month3,categoryii34_fracofcat_month3,categoryii35_fracofcat_month3,categoryii36_fracofcat_month3
party_rk,,,,,,,,,,,,,,,,,,,,,
61243,0,0,5,1,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66535,0,0,1,1,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83721,0,0,4,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88238,0,0,2,1,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57179,0,0,2,1,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54994,0,0,2,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63391,0,0,2,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5418,0,0,4,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50273,0,0,2,1,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77268,0,0,2,1,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [375]:
# pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\arima_target.csv')

In [376]:
df8=pd.read_csv(r'C:\ВШЭ 3 курс\FINOdays\tinkoff_hackathon_data\tinkoff_hackathon_data\full_frame.csv')

In [377]:
df8 = df8.set_index('party_rk')

In [378]:
target_full = df_train_out[pd.DatetimeIndex(df_train_out['transaction_dttm']).month == 12]

In [379]:
ad_users = pd.DataFrame(data = {'party_rk':pd.Series(list(set(df8.index.tolist())-set(target_full['party_rk'].unique())))},columns = target_full.columns).fillna(0)

In [380]:
ad_users['category'] = np.array(['Супермаркеты']*ad_users['category'].shape[0])

In [381]:
target_full = pd.concat([target_full,ad_users])

In [382]:
target_full = target_full[target_full.party_rk.isin(df8.index.tolist())]

In [383]:
target_full['party_rk'].unique().shape

(49401,)

In [384]:
final_target_full = target_full.pivot_table(index = ['party_rk'],columns = ['category'],values = ['transaction_amt_rur'],aggfunc = 'sum').fillna(0)

In [385]:
final_target_full.columns = final_target_full.reset_index().set_index('party_rk').columns.get_level_values(1)

In [386]:
from sklearn.model_selection import train_test_split

In [387]:
# del final_target_full

In [388]:
# del target_full

In [389]:
df9 = df7.merge(df8,on = 'party_rk')

In [390]:
df9 = df9.merge(final_target_full,on='party_rk')

In [391]:
import random

In [392]:
random.seed = 42

In [406]:
def get_37cat_tables(df_final): 
    li = [] 
    for n in range(37):
        li.append(pd.merge(df_final[[i for i in list(df_final.columns) if 'categoryii'+str(n)+'_' in str(i)]],df3, on = 'party_rk'))
    return li

for i,cat_table in enumerate(get_37cat_tables(df9)):
    cat_table.to_csv('category_'+str(i)+'.csv')

________________________________________________________КОНЕЦ

In [163]:
x_train,x_test,y_train,y_test = train_test_split(df9.iloc[:,:-36],df9.iloc[:,-36:],test_size = 0.2,random_state = 42)

In [164]:
# x_train.to_csv('x_train.csv',index = False)
# x_test.to_csv('x_test.csv',index = False)
# y_train.to_csv('y_train.csv',index = False)
# y_test.to_csv('y_test.csv',index = False)

In [165]:

import numpy as np

from sklearn.multioutput import MultiOutputRegressor

from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline

from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestRegressor

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.decomposition import PCA

In [166]:
x_test = x_test.fillna(0)

In [167]:
x_train = x_train.fillna(0)

In [168]:
pip1 = Pipeline(steps=[('multi_model',MultiOutputRegressor(estimator=RandomForestRegressor(max_depth=1,n_estimators = 600,n_jobs=-1,random_state=42)))])

In [179]:
# pip2 = MultiOutputRegressor(estimator=RandomForestRegressor(max_depth=1,n_estimators = 25,n_jobs=-1,random_state=42))

In [180]:
%%time
pip1.fit(x_train,y_train)

Wall time: 41 s

MultiOutputRegressor(estimator=RandomForestRegressor(max_depth=1,
                                                     n_estimators=25, n_jobs=-1,
                                                     random_state=42))

In [171]:
# pred = pip2.predict(x_test)

In [181]:
# pip2.feature_importances_

AttributeError: 'MultiOutputRegressor' object has no attribute 'feature_importances_'

In [316]:
pip2.

423

In [281]:
from sklearn.metrics import accuracy_score

In [282]:
accuracy_score(y_test,pred).round(2)

ValueError: continuous-multioutput is not supported

## Выбор бизнес-метрик  <a class="anchor" id="ch11"></a>

<strong>Разработаем</strong> бизнес-метрики для нашей системы предсказания трат пользователя по категориям, а затем <strong>посчитаем значения</strong> этих метрик по предложенным данным.

<strong>Система кэшбека выгодна банкам </strong>по нескольким причинам, основная из которых:
\
кэшбек стимулирует клиентов чаще пользоваться картой и хранить на ней как можно больше денег, которые в это время может использовать банк в своих целях.

Если наша система предсказаний затрат клиентов по категориям сработает эффективно, <strong>средний кэшбек покупок возрастет</strong>. Клиент, которому порекомендовали действительно актуальные для него категории кэшбека, начнет <strong>тратить больше денег</strong> на покупки по данным категориям.

В связи с этим необходимо разработать бизнес-метрики, позволяющие измерить, <strong>насколько изменились траты и удовлетворенность</strong> пользователей после введения системы предсказаний.

<strong>Основные требования</strong> к метрикам для системы предсказания затрат пользователя по категориям:
<ol> 
<li> При эффективной системе предсказаний клиент не снизит расходы по остальным категориям, по которым он не получает кэшбек. По этой причине содержательные бизнес-метрики должны учитывать показатели по всем категориям, а не только по тем трем, на которые распространяется кэшбек. 
</li>
<li> Метрики должны отражать относительные величины, а не абсолютные. Это важно, поскольку мы хотим сравнивать показатели метрик за различные периоды времени. </li></ol>

### Бизнес-метрика №1 <a class="anchor" id="ch11_1"></a>

<u><strong>Прирост средней суммы затрат по всем категориям у пользователя за месяц (среднее значение по всем пользователям)</strong></u>

Введем следующие обозначения: пусть $j$- номер пользователя, $j=1,\ldots,50000.\;\;$ Пусть

Номер месяца | Средняя сумма затрат по всем категориям у j-го пользователя 
--- | --- 
$t-1$ | $X_{j_{t-1}}$ 
$t$ | $X_{j_{t}}$

Тогда бизнес-метрику по одному ($M_{1j}$) и по всем ($M_1$) пользователям посчитаем по следующим формулам:

Бизнес-метрика по одному пользователю | Усредненная бизнес-метрика по всем пользователям
 --- | ---
$M_{1_j}=\frac{X_{j_{t}}-X_{j_{t-1}}}{X_{j_{t-1}}}$ | $M_1 = \frac{\sum_{j=1}^{n}M_{1_j}}{n}$

где $n$ - количество пользователей (50000). 

В результате применения системы предсказания, затраты пользователей должны возрасти, следовательно, <strong>увеличится и значение $M_1$</strong>. Такая <strong>бизнес-метрика удобна для</strong> измерения эффективности внедрения каких-либо новых систем и применения новых стратегий.

#### Подсчёт бизнес-метрики

Напишем необходимые функции:

In [576]:
def cutDateM1_(start_date, stop_date, matrix):
    '''
    FUNC: выводит транзакции в указанном периоде
    IN: start_date (дата, с которой начинается необходимый временной промежуток (включительно))
    IN: stop_date (дата, на которой заканчивается необходимый временной промежуток (включительно))
    IN: matrix (таблица с информацией о транзакциях)
    OUT: pre_cut (таблица транзакций за указанный период)
    OUT: final_cut (таблица транзакций за указанный период, ключающая только столбец 'party_rk')
    '''
    
    v1_1 = matrix[matrix['transaction_dttm'] <= stop_date]
    pre_cut = v1_1[start_date <= v1_1['transaction_dttm']]
    final_cut = pre_cut['party_rk'].to_frame()
    return pre_cut, final_cut


def findMeanDf(df_t):
    '''
    FUNC: находит среднее значение затрат по пользователю
    IN: df_t (таблица транзакций за указанный период)
    OUT: df_mean_amt_ (таблица со столбцом средних затрат за период по каждому пользователю)
    '''
    df_train_rk_amt = df_t[['party_rk', 'transaction_amt_rur']]
    df_mean_amt = df_train_rk_amt.groupby(['party_rk']).mean()
    df_mean = df_mean_amt.reset_index()
    df_mean_amt_ = pd.merge(df_pr8_0, df_mean, how='left')
    df_mean_amt_ = df_mean_amt_.fillna(0)
    return df_mean_amt_

# Считаем M1j 
def countM1j(df_m):
    '''
    FUNC: находит значение M1j для пользователей
    IN: df_m (таблица со столбцом средних затрат за период по каждому пользователю)
    OUT: df_m (таблица со столбцом средних затрат за период по каждому пользователю + посчитанная для него M1j)
    '''
    df_m['m1j'] = (df_m['transaction_amt_rur_y'] - df_m['transaction_amt_rur_x']) / df_m['transaction_amt_rur_x']
    return df_m

# Считаем M1
def countM1(df_m1j):
    '''
    FUNC: находит значение M1 
    IN: df_m1j (таблица со столбцом средних затрат за период по каждому пользователю + посчитанная для него M1j)
    OUT: M1 (значение метрики)
    '''
    M1 = df_m1j['m1j'].mean()
    return M1

Посчитаем значение $M_{1_{before}}$ бизнес-метрики за первые 2 месяца тренировочной выборки, а именно оценим прирост средней суммы затрат за период с 01.01.2019 по 28.02.2019:

In [577]:
# Выпишем все party_rk всех пользователей
df_pr8_0 = df_socdem_num['party_rk'].to_frame()

# Найдем X_{j_{t-1}} (за январь)
df_01_02_2019, final_cut0102 = cutDateM1(datetime.datetime(2019, 1, 1), datetime.datetime(2019, 1, 31), df_train_out)
df_01_02_2019_with_mean = findMeanDf(df_01_02_2019)

# Найдем X_{j_{t}} (за февраль)
df_02_03_2019, final_cut0203 = cutDateM1(datetime.datetime(2019, 2, 1), datetime.datetime(2019, 2, 28), df_train_out)
df_02_03_2019_with_mean = findMeanDf(df_02_03_2019)

# Объединим за январь и февраль
df_m1_b = pd.merge(df_01_02_2019_with_mean, df_02_03_2019_with_mean, on='party_rk')
df_m1_b

       party_rk  transaction_amt_rur_x  transaction_amt_rur_y
0         61243             439.914286             263.010476
1         66535               0.000000             179.587143
2         83721               0.000000               0.000000
3         88238               0.000000               0.000000
4         57179             257.454500             166.500000
...         ...                    ...                    ...
49995     54994               0.000000               0.000000
49996     63391             310.824444             347.680000
49997      5418               0.000000             179.000000
49998     50273             666.984000             414.727692
49999     77268               0.000000               0.000000

[50000 rows x 3 columns]

In [578]:
# Удалим строчки, в которых и средние траты за январь, и средние траты за февраль равны 0
# (такие пользователи просто не пользовались картой в этих месяцах)

df_m1_b = df_m1_b[~((df_m1_b.transaction_amt_rur_x == 0) & (df_m1_b.transaction_amt_rur_x == 0))]
df_m1_b

       party_rk  transaction_amt_rur_x  transaction_amt_rur_y
0         61243             439.914286             263.010476
4         57179             257.454500             166.500000
6         93895             284.555000             299.824750
7         24352             515.829474             552.435333
12        64918             158.500000               0.000000
...         ...                    ...                    ...
49992     28570             402.689211             382.322105
49993     39537             832.000000               0.000000
49994     43701             253.851250             325.654706
49996     63391             310.824444             347.680000
49998     50273             666.984000             414.727692

[26106 rows x 3 columns]

In [579]:
# Посчитаем значение M1 для каждого из пользователей (получим M1j)
df_m1_b_ = countM1j(df_m1_b)
df_m1_b_

       party_rk  transaction_amt_rur_x  transaction_amt_rur_y       m1j
0         61243             439.914286             263.010476 -0.402132
4         57179             257.454500             166.500000 -0.353284
6         93895             284.555000             299.824750  0.053662
7         24352             515.829474             552.435333  0.070965
12        64918             158.500000               0.000000 -1.000000
...         ...                    ...                    ...       ...
49992     28570             402.689211             382.322105 -0.050578
49993     39537             832.000000               0.000000 -1.000000
49994     43701             253.851250             325.654706  0.282856
49996     63391             310.824444             347.680000  0.118574
49998     50273             666.984000             414.727692 -0.378204

[26106 rows x 4 columns]

In [580]:
# Посчитаем усредненное значение метрики M1
M1_before = countM1(df_m1_b_)
M1_before

0.0042637301204584924

Посчитаем значение $M_{1_{after}}$ бизнес-метрики за последний месяц тренировочной выборки и первый месяц тестовой выборки, а именно оценим прирост средней суммы затрат за период с 01.12.2019 по 31.01.2020:

In [581]:
# Выпишем все party_rk всех пользователей
df_pr8_0 = df_socdem_num['party_rk'].to_frame()

# Найдем X_{j_{t-1}} (за декабрь)
df_12_01_2019, final_cut1201 = cutDateM1_(datetime.datetime(2019, 12, 1), datetime.datetime(2019, 12, 31), df_train_test)
df_12_01_2019_with_mean = findMeanDf(df_12_01_2019)

# Найдем X_{j_{t}} (за январь)
df_01_02_2020, final_cut0102 = cutDateM1_(datetime.datetime(2020, 1, 1), datetime.datetime(2020, 1, 31), df_train_test)
df_01_02_2020_with_mean = findMeanDf(df_01_02_2020)

# Объединим за декабрь и январь
df_m1_a = pd.merge(df_12_01_2019_with_mean, df_01_02_2020_with_mean, on='party_rk')
df_m1_a

       party_rk  transaction_amt_rur_x  transaction_amt_rur_y
0         61243             291.207143             902.079565
1         66535             242.572187            1282.166613
2         83721             202.595806               0.000000
3         88238             171.901538            2226.580128
4         57179             252.410000            1531.000000
...         ...                    ...                    ...
49995     54994               0.000000            2947.000000
49996     63391             262.162432             253.511579
49997      5418             402.000000            3094.585000
49998     50273             361.000000            1321.377778
49999     77268             130.000000            1466.485455

[50000 rows x 3 columns]

In [582]:
# Удалим строчки, в которых и средние траты за декабрь, и средние траты за январь равны 0
# (такие пользователи просто не пользовались картой в этих месяцах)

df_m1_a = df_m1_a[~((df_m1_a.transaction_amt_rur_x == 0) & (df_m1_a.transaction_amt_rur_x == 0))]
df_m1_a

       party_rk  transaction_amt_rur_x  transaction_amt_rur_y
0         61243             291.207143             902.079565
1         66535             242.572187            1282.166613
2         83721             202.595806               0.000000
3         88238             171.901538            2226.580128
4         57179             252.410000            1531.000000
...         ...                    ...                    ...
49993     39537             337.212000               0.000000
49996     63391             262.162432             253.511579
49997      5418             402.000000            3094.585000
49998     50273             361.000000            1321.377778
49999     77268             130.000000            1466.485455

[36735 rows x 3 columns]

In [583]:
# Посчитаем знаечние M1 для каждого из пользователей (получим M1j)
df_m1_a = countM1j(df_m1_a)
df_m1_a

       party_rk  transaction_amt_rur_x  transaction_amt_rur_y        m1j
0         61243             291.207143             902.079565   2.097725
1         66535             242.572187            1282.166613   4.285712
2         83721             202.595806               0.000000  -1.000000
3         88238             171.901538            2226.580128  11.952648
4         57179             252.410000            1531.000000   5.065528
...         ...                    ...                    ...        ...
49993     39537             337.212000               0.000000  -1.000000
49996     63391             262.162432             253.511579  -0.032998
49997      5418             402.000000            3094.585000   6.697973
49998     50273             361.000000            1321.377778   2.660326
49999     77268             130.000000            1466.485455  10.280657

[36735 rows x 4 columns]

In [584]:
# Посчитаем усредненное значение метрики M1
M1_after = countM1(df_m1_a)
M1_after

12.747113135145405

### Бизнес-метрика №2 <a class="anchor" id="ch11_2"></a>

<u><strong>ARPU (Average Revenue Per User)</strong></u> - средняя выручка на одного пользователя. 

В общем виде метрика записывается следующим образом:  $ARPU=\frac{\mbox{общая выручка со всех продаж}}{\mbox{количество покупателей}}$.

Метрику $ARPU$ зачастую применяют для того, чтобы проверить эффективность нового канала привлечения, в том числе, эффективность введения системы предсказания затрат.

<strong>В нашем кейсе</strong> значение данной метрики нужно считать отдельно <strong>для каждой из 37-ми категорий</strong>, так как общую выручку со всех продаж и количество покупателей различных категорий нельзя сравнивать между собой с точки зрения смысла.  

Поскольку среднее время жизни пользователя банка - велико, мы можем считать ARPU за период больше месяца. Рассмотрим данную метрику применительно к периоду из <strong>2 месяцев</strong>:

\begin{eqnarray}
M_2 = ARPU_i\mbox{ (за 2 мес.)}=\frac{\mbox{общая выручка со всех продаж в i-ой категории}}{\mbox{количество покупателей в i-ой категории}}
\end{eqnarray}

Данная метрика $M_2$ позволит <strong>сравнить среднюю выручку</strong> с одного пользователя <strong>за различные периоды времени</strong>: до ввода системы предсказаний и после. Повышение $M_2$ будет говорить о какой-либо из следующих закономерностей в рассматриваемой категории:
<ul>
    <li>о <strong>росте количества клиентов, </strong></li>
    <li>об <strong>увеличении среднего чека</strong>.</li>
    </ul>

#### Подсчёт бизнес-метрики

Напишем необходимые функции:

In [191]:
def arpu(matrix1, begin_date, end_date, a):
    '''
    FUNC: считает метрику ARPU
    IN: matrix1 (таблица, откуда мы берем данные)
    IN:begin_date (дата начала рассматриваемого периода) 
    IN:end_date (дата конца рассматриваемого периода)
    IN: a (string переменная, название столбцов)
    OUT: df_final (таблица с категориями и соответствующими ARPU метриками)
    '''
    # создадим таблицу, соответствующую нашему отрезку времени
    df_arpu = matrix1[(matrix1['transaction_dttm'] <= end_date) 
                                 & (matrix1['transaction_dttm'] >= begin_date)]
    
    # делаем цикл по категориям и считает для каждой категории ARPU метрики
    arpus = []
    categories = matrix1['category'].unique()
    for i in categories:
        df_arpu_cat = df_arpu[df_arpu['category'] == i]
        revenue_all = np.sum(df_arpu_cat['transaction_amt_rur'])
        num_users = len(df_arpu_cat['party_rk'].unique())
        arpus.append(revenue_all/num_users)
    column_name = 'ARPU_' + a
    df_final = pd.DataFrame({'category': categories, column_name : arpus})
    
    return df_final

Посчитаем значение $M_{2_{before}}$ бизнес-метрики за первые 2 месяца тренировочной выборки, а именно за период с 01.01.2019 по 28.02.2019:

In [192]:
arpus_first = arpu(df_train_out, '01.01.2019', '28.02.2019', 'first_2months')

Посчитаем значение $M_{3_{after}}$ бизнес-метрики за последние 2 месяца (из тестовой выборки), а именно за период с 01.01.2020 по 29.02.2020:

In [193]:
arpus_last = arpu(df_test, '01.01.2020', '29.02.2020', 'last_2months')

In [194]:
arpu_final = pd.merge(arpus_first, arpus_last )
arpu_final

              category  ARPU_first_2months  ARPU_last_2months
0             Сувениры          520.352498        1499.753572
1             Фаст Фуд         1904.574808        3622.141909
2         Супермаркеты         5757.990129       11903.956731
3     Сервисные услуги          701.302272        4545.526807
4            Транспорт         1701.583534        2787.666850
5              Топливо         1494.197617        5162.781623
6        Связь/Телеком          766.698229        2613.026298
7        Разные товары         1108.317554        5129.795484
8       Частные услуги          528.530837        3085.781771
9              Красота          735.909050        3582.495114
10        Одежда/Обувь          867.523551        9196.650450
11           Рестораны         1400.105184        4131.064632
12         Развлечения          895.576214        6819.151738
13                 НКО          837.296342        4096.309692
14               Книги          535.202734        1185.611685
15          Дом/Ремонт          836.087966        9613.206083
16                Кино          805.531205        1158.187026
17              Музыка          934.387014        1715.742985
18   Финансовые услуги         1095.436538       53160.200453
19               Отели          721.677069       14693.801833
20              Аптеки          960.006494        2197.824645
21               Цветы          592.056144        1845.941388
22            Наличные          804.593117       64948.533944
23          Автоуслуги          748.822926        6423.594974
24          Авиабилеты          656.712292       26530.151913
25            Госсборы          561.184805        3523.344925
26         Аренда авто         1986.465581        4255.412407
27            Животные          620.589230        1757.438327
28           Duty Free          471.782241        3843.882427
29        Турагентства          702.460026       20366.090781
30          Ж/д билеты          975.249892        5535.187050
31         Спорттовары          604.648262        4719.803631
32  Медицинские услуги          846.500626        7305.840393
33           Искусство          669.306820        2863.211618
34          Фото/Видео          449.781691        2316.376273
35         Образование          673.593511        8001.979471

### Бизнес-метрика №3 <a class="anchor" id="ch11_3"></a>

<u><strong>LTV (Life Time Value)</strong></u> - пожизненная стоимость клиента.  

В общем виде метрика записывается следующим образом:  $LTV=\mbox{средний чек}\cdot\mbox{количество месяцев, в которых клиент пользуется сервисом}$.

<strong>В нашем кейсе</strong> значение данной метрики нужно считать отдельно <strong>для каждой из 37-ми категорий</strong>, так как чек и количество месцев по различным категориям нельзя сравнивать между собой с точки зрения смысла.  

Пусть $LTV_{i}(\mbox{ по месяцу})$ - это значение $LTV$ по i-ой категории, за выбранные для измерения 2 месяца, где $i=1,\ldots,37$.  

Пусть $LTV_{ij}(\mbox{ по месяцу})$ - это значение $LTV$ по i-ой категории у j-го человека, за выбранные для измерения 2 месяца.

<strong>Неусредненное значение</strong> этой метрики в подсчете на j-го пользователя:  

$LTV_{ij}(\mbox{ по месяцу})=\mbox{(средний чек по i-ой категории)}\cdot\mbox{ (количество месяцев, где клиент пользуется сервисом на данный момент)}$.

Тогда <strong>усредненное значение</strong> этой метрики для i-ой категории (в подсчете на всех пользователей):  

\begin{eqnarray}
M_3=LTV_{i}\mbox{ (за месяц})=\frac{\sum_{j=1}^{n}LTV_{ij}}{n},\;\;
\end{eqnarray}
 где $n=50000$ - число пользователей.

$M_3$ отображает сумму за месяц, которую один усредненный пользователь тратит на рассматриваемую категорию. 

Увеличение $M_3$ сможет говорить о каких-либо из следующих закономерностей в рассматриваемой категории:
<ul>
    <li>о <strong>увеличении объема покупок </strong>пользователей,</li>
    <li>об <strong>удержании пользователей</strong>, которые и без кэшбека покупают товары категории,</li>
    <li>о <strong>росте количества пользователей</strong>, покупающих товары категории.</li></ul>

### Дополнительная бизнес-метрика <a class="anchor" id="ch11_4"></a>

Заметим, что в таблице из файла 'avk_hackathon_data_story_texts.csv' <strong>есть много историй</strong>, заголовок (name) и содержание (story_text) которых содержит <strong>слово "Кэшбек"</strong> в различном контексте. 

В связи с этим наблюдением можно создать <strong>дополнительную (второстепенную) бизнес-метрику</strong>, характеризуюющую удовлетворенность клиентов сервисом для подбора категорий кэшбека. 

Если система предсказания категорий сработала хорошо и предложила пользователю кэшбек по его любимым категориям, то человек <strong>заинтересуется системой кэшбека</strong>, даже если раньше он никогда ею не пользовался. 

В таком случае, возможно, он начнет ставить реакции <strong>"like" или "favorite" на истории со словом "Кэшбек"</strong>.

Введем следующие обозначения: пусть $j$- номер пользователя, $j=1,\ldots,50000.\;\;$ Пусть

Номер месяца | Количество реакций "like" или "favorite" на истории со словом "Кэшбек" в name или story_text
--- | --- 
$t-1$ | $Y_{j_{t-1}}$ 
$t$ | $Y_{j_{t}}$

Тогда бизнес-метрику по одному ($M_{4j}$) и по всем ($M_4$) пользователям посчитаем по следующим формулам:

Бизнес-метрика по одному пользователю | Усредненная бизнес-метрика по всем пользователям
 --- | ---
$M_{4_j}=\frac{Y_{j_{t}}-Y_{j_{t-1}}}{Y_{j_{t-1}}}$ | $M_4 = \frac{\sum_{j=1}^{n}M_{4_j}}{n}$

где $n$ - количество пользователей (50000). (Если $Y_{j_{t-1}}=0$, то пусть $M_{4_j} = Y_{j_{t}}$.)

Данную метрику стоит посчитать для любой <strong>пары месяцев до введения</strong> системы предсказания расходов ($M_{4_{before}}$) и для <strong>пары месяцев сразу же после ее введения</strong> ($M_{4_{after}}$). Если система сработала эффективно и люди удовлетворены сервисом, то 
\begin{eqnarray}
M_{4_{before}} < M_{4_{after}}.
\end{eqnarray}

## Тестовая выборка

### Общая идея

Используя данные о транзакциях за 1 год (тренировочная выборка), предскажем затраты пользователей по категориям на следующий месяц (на первый месяц тестовой выборки):

Используем данные за: | Получаем прогноз на:
--- | --- 
01.01.2019 - 31.12.2019 | 01.01.2020 - 31.01.2020

Затем, используя данные о транзакциях за 1 год и 1 месяц (тренировочная выборка + 1 месяц тестовой), предскажем затраты пользователей по категориям на следующий месяц (на второй месяц тестовой выборки):

Используем данные за: | Получаем прогноз на:
--- | --- 
01.01.2019 - 31.01.2020 | 01.02.2020 - 29.02.2020

В таблице df_train содержится информация о совершенных пользователями транзакциях, где
<ul>
<li><strong>party_rk</strong> - уникальный идентификационный номер клиента</li> 
<li><strong>account_rk</strong> - уникальный идентификационный номер счета</li>
<li><strong>financial_account_type_cd</strong> - тип карты (дебетовая/кредитовая)</li>
<li><strong>transaction_dttm</strong> - день совершения операции в формате ГГГГ-ММ-ДД</li>
<li><strong>transaction_amt_rur</strong> - сумма транзакции в рублях</li>
<li><strong>merchant_rk	</strong> - идентификационный номер мерчант-аккаунта (оборудования для приема платежей)</li>  
<li><strong>merchant_type</strong> - идентификационный номер типа мерчанта</li> 
<li><strong>merchant_group_rk</strong> - идентификационный номер мерчант-группы, обслуживающей соответствующий мерчант-аккаунт</li>
<li><strong>category	</strong> - категория транзакции</li>  
</ul>

In [203]:
df_test.head()

,party_rk,account_rk,financial_account_type_cd,transaction_dttm,transaction_type_desc,transaction_amt_rur,merchant_rk,merchant_type,merchant_group_rk,category
0,18021,106616,2,2020-01-01,Платеж,15089.0,2231439.0,381.0,NaN,Финансовые услуги
1,35240,34588,2,2020-01-01,Снятие наличных,7522.0,2495767.0,380.0,NaN,Наличные
2,56472,106674,2,2020-01-01,Покупка,122.0,1456914.0,283.0,425.0,Разные товары
3,49587,52561,2,2020-01-01,Покупка,221.0,2820398.0,229.0,461.0,Транспорт
4,51277,54808,2,2020-01-01,Покупка,565.0,212573.0,284.0,NaN,Разные товары

In [208]:
print('Количество строк: {}, количество столбцов: {}'.format(df_test.shape[0], df_test.shape[1]))

Количество строк: 2299670, количество столбцов: 10

In [204]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299670 entries, 0 to 2299669
Data columns (total 10 columns):
 #   Column                     Dtype
---  ------                     -----
 0   party_rk                   int64
 1   account_rk                 int64
 2   financial_account_type_cd  int64
 3   transaction_dttm           datetime64[ns]
 4   transaction_type_desc      object
 5   transaction_amt_rur        float64
 6   merchant_rk                float64
 7   merchant_type              float64
 8   merchant_group_rk          float64
 9   category                   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 175.5+ MB

### Обработка данных

Переведем столбец с датами транзакций в тип datetime:

In [394]:
df_test['transaction_dttm'] = pd.to_datetime(df_test['transaction_dttm'])

In [395]:
df_test.describe()

,party_rk,account_rk,financial_account_type_cd,transaction_amt_rur,merchant_rk,merchant_type,merchant_group_rk
count,2.299670e+06,2.299670e+06,2.299670e+06,2.299670e+06,1.981146e+06,2.299211e+06,1.127303e+06
mean,4.930513e+04,6.585250e+04,1.730133e+00,3.018728e+03,1.468696e+06,2.645824e+02,8.277348e+02
std,2.805758e+04,3.845219e+04,4.438908e-01,2.334000e+04,8.781637e+05,1.240875e+02,5.918370e+02
min,1.000000e+00,1.000000e+00,1.000000e+00,1.001000e+01,1.000000e+01,1.000000e+00,2.000000e+00
25%,2.459100e+04,3.147100e+04,1.000000e+00,1.544900e+02,6.272900e+05,2.400000e+02,3.560000e+02
50%,4.951900e+04,6.448500e+04,2.000000e+00,3.768000e+02,1.466288e+06,2.860000e+02,8.220000e+02
75%,7.562200e+04,1.025550e+05,2.000000e+00,1.132000e+03,2.231439e+06,3.300000e+02,9.630000e+02
max,9.461000e+04,1.261720e+05,2.000000e+00,1.500010e+07,3.057823e+06,4.980000e+02,2.961000e+03

Повторим аналогичные действия, как и с таблицей df_train: приведем категориальные признаки к числовому виду и уберем не нужные для прогноза столбцы.

In [396]:
df_test_cat = encode_and_bind(df_test, 'category')
del df_test_cat['category']

In [397]:
df_test_clean = df_test_cat.drop(['account_rk','merchant_rk','merchant_group_rk', 'merchant_type', 'transaction_type_desc'], axis = 1)

In [398]:
df_test_clean.head()

,party_rk,financial_account_type_cd,transaction_dttm,transaction_amt_rur,category_Duty Free,category_Авиабилеты,category_Автоуслуги,category_Аптеки,category_Аренда авто,category_Госсборы,...,category_Сувениры,category_Супермаркеты,category_Топливо,category_Транспорт,category_Турагентства,category_Фаст Фуд,category_Финансовые услуги,category_Фото/Видео,category_Цветы,category_Частные услуги
0,18021,2,2020-01-01,15089.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,35240,2,2020-01-01,7522.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,56472,2,2020-01-01,122.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,49587,2,2020-01-01,221.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,51277,2,2020-01-01,565.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Поделим df_train на две части: 
<ul>
    <li><strong>df_test_clean_1</strong> -  информация обо всех транзакциях за первый месяц тестовой выборки -----> с 01.01.2020 по 31.01.2020</li>
    <li><strong>df_test_clean_2</strong> -  информация обо всех транзакциях за второй месяц тестовой выборки -----> с 01.02.2020 по 29.02.2020</li>
    </ul>

In [399]:
df_test_clean['Month'] = pd.DatetimeIndex(df_test_clean['transaction_dttm']).month
df_test_clean_1 = df_test_clean[df_test_clean['Month'] == 1]
df_test_clean_2 = df_test_clean[df_test_clean['Month'] == 2]

In [400]:
del df_test_clean_1['Month']

### Подсчет признаков для предсказания на первый месяц

Создадим таблицы с информацией о транзакциях:
<ul>
    <li><strong>df_train_test1</strong> - транзакции за год (из тренировочной выборки) + 1 месяц (из тестовой выборки) -----> с 01.01.2019 по 31.01.2020</li>
    <li><strong>df_train_test</strong> - транзакции за год (из тренировочной выборки) + 2 месяца (из тестовой выборки) -----> с 01.01.2019 по 29.02.2020</li>
</ul>

In [403]:
df_train_test1 = pd.concat([df_train_out, df_test_clean_1], axis=0 )
df_train_test = pd.concat([df_train_out, df_test], axis=0 )

Посчитаем дополнительные признаки (Признак №1 - Признак №8) для таблицы <strong>df_train_test_1</strong>. 

Затем соединим в одну таблицу <strong>df_train_test1_final</strong> все получившиеся признаки, а также таблицы df_socdem_num и df_product.

In [445]:
# соединим таблицы df_socdem_num и df_product
df_test_1_temp_ = pd.merge(df_socdem_num, df_products)

# feature 1
df_test_1_temp1 = pd.merge(df_test_1_temp_, f1)

# feature 2
df_test_1_temp2 = pd.merge(df_test_1_temp1, f2)

# feature 3
df_test_1_temp3 = pd.merge(df_test_1_temp2, feature3(df_train_out, df_socdem_num, datetime.datetime(2019,12,31), datetime.datetime(2019,9,30)))

# feature 4
trans_by11month_1 = calc_trans_by11month(df_train_test1)
df_test_1_temp4 = pd.merge(createFeature4(trans_by11month_1, df_socdem_num), df_test_1_temp3)

# feature 5
df_test_1_temp5 = pd.merge(feature5(calc_feature_buyfreq(df_train_out), df_socdem_num), df_test_1_temp4)

# feature 6
df_test_1_temp6 = pd.merge(feature6(df_train_out, df_socdem_num, datetime.datetime(2019,12,31), datetime.datetime(2019,11,30), datetime.datetime(2019,10,31), datetime.datetime(2019,9,30)), df_test_1_temp5)

# # feature 7
# df_train_test1_final = pd.merge(df_test_1_temp6, )

In [446]:
df_test_1_temp6

,party_rk,feature1_6_0,feature1_6_1,feature1_6_2,feature1_6_3,feature1_6_4,feature1_6_5,feature1_6_6,feature1_6_7,feature1_6_8,...,feature_3_27,feature_3_28,feature_3_29,feature_3_30,feature_3_31,feature_3_32,feature_3_33,feature_3_34,feature_3_35,feature_3_36
0,61243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,66535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,83721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,88238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,57179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,54994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,63391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,5418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,50273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,77268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# df_train_test1_final

### Подсчет признаков для предсказания на второй месяц

Посчитаем дополнительные признаки (Признак №1 - Признак №8) для таблицы <strong>df_train_test</strong>. 

Затем соединим в одну таблицу <strong>df_train_test_final</strong> все получившиеся признаки, а также таблицы df_socdem_num и df_product.

In [449]:
# соединим таблицы df_socdem_num и df_product
df_test_2_temp = pd.merge(df_socdem, df_products)

# feature 1
df_test_2_temp1 = pd.merge(df_test_2_temp, f1)

# feature 2
df_test_2_temp2 = pd.merge(df_test_2_temp1, f2)

# feature 3
df_test_2_temp3 = pd.merge(df_test_2_temp2, feature3(df_train_test1, df_socdem_num, datetime.datetime(2020,1,31), datetime.datetime(2019,10,31)))

# feature 4
trans_by11month_2 = calc_trans_by11month(df_train_test)
df_test_2_temp4 = pd.merge(createFeature4(trans_by11month_2, df_socdem_num), df_test_2_temp3)

# feature 5
df_test_2_temp5 = pd.merge(feature5(calc_feature_buyfreq(df_train_test1), df_socdem_num), df_test_2_temp4)

# feature 6
df_test_2_temp6 = pd.merge(feature6(df_train_test1, df_socdem_num, datetime.datetime(2020,1,31), datetime.datetime(2019,12,31), datetime.datetime(2019,11,30), datetime.datetime(2019,10,31)), df_test_2_temp5)

# # feature 7
# df_train_test2_final = pd.merge(df_test_2_temp6, )

MemoryError: Unable to allocate 2.33 GiB for an array with shape (37, 8434344) and data type float64

In [ ]:
# df_test_2_temp6

In [ ]:
# df_train_test2_final